// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2024.1.1.259.1
// Netlist written on Sun Sep 22 20:59:26 2024
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/lattice radiant/ip/pmi/pmi_ice40up.v"
// file 1 "c:/lattice radiant/ip/pmi/pmi_ice40up.vhd"
// file 2 "c:/users/spenc/onedrive/documents/desktop/hmc/microps/microp-lab3/fpga/radiant_project/lab3_jb/source/impl_1/systemverilog.sv"
// file 3 "c:/users/spenc/onedrive/documents/desktop/hmc/microps/microp-lab3/fpga/radiant_project/lab3_jb/source/impl_1/button_decoder_bounce.sv"
// file 4 "c:/users/spenc/onedrive/documents/desktop/hmc/microps/microp-lab3/fpga/radiant_project/lab3_jb/source/impl_1/seven_seg_decoder.sv"
// file 5 "c:/users/spenc/onedrive/documents/desktop/hmc/microps/microp-lab3/fpga/radiant_project/lab3_jb/source/impl_1/syncronizer.sv"
// file 6 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 7 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 8 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 9 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 10 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 11 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 12 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 13 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/ib.v"
// file 14 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 15 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 16 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 17 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/ob.v"
// file 18 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 19 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 20 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 21 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/rgb.v"
// file 22 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 23 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 24 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/legacy.v"
// file 25 "c:/lattice radiant/ip/common/adder/rtl/lscc_adder.v"
// file 26 "c:/lattice radiant/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 27 "c:/lattice radiant/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 28 "c:/lattice radiant/ip/common/counter/rtl/lscc_cntr.v"
// file 29 "c:/lattice radiant/ip/common/fifo/rtl/lscc_fifo.v"
// file 30 "c:/lattice radiant/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 31 "c:/lattice radiant/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 32 "c:/lattice radiant/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 33 "c:/lattice radiant/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 34 "c:/lattice radiant/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 35 "c:/lattice radiant/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 36 "c:/lattice radiant/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 37 "c:/lattice radiant/ip/common/rom/rtl/lscc_rom.v"
// file 38 "c:/lattice radiant/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 39 "c:/lattice radiant/ip/pmi/pmi_add.v"
// file 40 "c:/lattice radiant/ip/pmi/pmi_addsub.v"
// file 41 "c:/lattice radiant/ip/pmi/pmi_complex_mult.v"
// file 42 "c:/lattice radiant/ip/pmi/pmi_counter.v"
// file 43 "c:/lattice radiant/ip/pmi/pmi_dsp.v"
// file 44 "c:/lattice radiant/ip/pmi/pmi_fifo.v"
// file 45 "c:/lattice radiant/ip/pmi/pmi_fifo_dc.v"
// file 46 "c:/lattice radiant/ip/pmi/pmi_mac.v"
// file 47 "c:/lattice radiant/ip/pmi/pmi_mult.v"
// file 48 "c:/lattice radiant/ip/pmi/pmi_multaddsub.v"
// file 49 "c:/lattice radiant/ip/pmi/pmi_multaddsubsum.v"
// file 50 "c:/lattice radiant/ip/pmi/pmi_ram_dp.v"
// file 51 "c:/lattice radiant/ip/pmi/pmi_ram_dp_be.v"
// file 52 "c:/lattice radiant/ip/pmi/pmi_ram_dq.v"
// file 53 "c:/lattice radiant/ip/pmi/pmi_ram_dq_be.v"
// file 54 "c:/lattice radiant/ip/pmi/pmi_rom.v"
// file 55 "c:/lattice radiant/ip/pmi/pmi_sub.v"

//
// Verilog Description of module top
//

module top (input reset, input [3:0]col, output [3:0]r_sel, output [6:0]seg, 
            output [1:0]osc);
    
    (* is_clock=1, lineinfo="@2(17[7],17[14])" *) wire int_osc;
    
    wire reset_c, col_c_3, col_c_2, col_c_1, col_c_0, r_sel_c_3, 
        r_sel_c_2, r_sel_c_1, r_sel_c_0, seg_c_6, seg_c_5, seg_c_4, 
        seg_c_3, seg_c_2, seg_c_1, seg_c_0, osc_c_1, osc_c_0;
    (* lineinfo="@2(14[14],14[21])" *) wire [24:0]counter;
    (* lineinfo="@2(15[13],15[21])" *) wire [3:0]col_sync;
    (* lineinfo="@2(16[13],16[19])" *) wire [3:0]select;
    
    wire GND_net, n344;
    
    (* lineinfo="@2(25[13],25[58])" *) syncronizer MOD3 (col_c_0, int_osc, 
            n344, {col_sync}, counter[12], col_c_3, col_c_2, col_c_1);
    (* lineinfo="@2(8[20],8[23])" *) IB \col_pad[0]  (.I(col[0]), .O(col_c_0));
    (* lineinfo="@2(8[20],8[23])" *) IB \col_pad[1]  (.I(col[1]), .O(col_c_1));
    (* lineinfo="@2(8[20],8[23])" *) IB \col_pad[2]  (.I(col[2]), .O(col_c_2));
    (* lineinfo="@2(8[20],8[23])" *) IB \col_pad[3]  (.I(col[3]), .O(col_c_3));
    (* lineinfo="@2(7[14],7[19])" *) IB reset_pad (.I(reset), .O(reset_c));
    (* lineinfo="@2(11[21],11[24])" *) OB \osc_pad[0]  (.I(osc_c_0), .O(osc[0]));
    (* lineinfo="@2(11[21],11[24])" *) OB \osc_pad[1]  (.I(osc_c_1), .O(osc[1]));
    (* lineinfo="@2(10[21],10[24])" *) OB \seg_pad[0]  (.I(seg_c_0), .O(seg[0]));
    (* lineinfo="@2(10[21],10[24])" *) OB \seg_pad[1]  (.I(seg_c_1), .O(seg[1]));
    (* lineinfo="@2(10[21],10[24])" *) OB \seg_pad[2]  (.I(seg_c_2), .O(seg[2]));
    (* lineinfo="@2(10[21],10[24])" *) OB \seg_pad[3]  (.I(seg_c_3), .O(seg[3]));
    (* lineinfo="@2(10[21],10[24])" *) OB \seg_pad[4]  (.I(seg_c_4), .O(seg[4]));
    (* lineinfo="@2(10[21],10[24])" *) OB \seg_pad[5]  (.I(seg_c_5), .O(seg[5]));
    (* lineinfo="@2(10[21],10[24])" *) OB \seg_pad[6]  (.I(seg_c_6), .O(seg[6]));
    (* lineinfo="@2(9[21],9[26])" *) OB \r_sel_pad[0]  (.I(r_sel_c_0), .O(r_sel[0]));
    (* lineinfo="@2(9[21],9[26])" *) OB \r_sel_pad[1]  (.I(r_sel_c_1), .O(r_sel[1]));
    (* lineinfo="@2(9[21],9[26])" *) OB \r_sel_pad[2]  (.I(r_sel_c_2), .O(r_sel[2]));
    (* lineinfo="@2(9[21],9[26])" *) OB \r_sel_pad[3]  (.I(r_sel_c_3), .O(r_sel[3]));
    (* lineinfo="@2(23[19],23[37])" *) seven_seg_decoder MOD2 ({select}, seg_c_2, 
            seg_c_1, seg_c_4, seg_c_3, seg_c_0, seg_c_6, seg_c_5);
    (* lut_function="(!(A))", lineinfo="@2(7[14],7[19])" *) LUT4 i273_1_lut (.A(reset_c), 
            .Z(n344));
    defparam i273_1_lut.INIT = "0x5555";
    (* lineinfo="@2(21[23],21[87])" *) button_decoder_bounce MOD1 ({col_sync}, 
            int_osc, reset_c, {select}, counter[12], osc_c_1, n344, 
            osc_c_0, r_sel_c_1, r_sel_c_0, r_sel_c_2, r_sel_c_3);
    VLO i1 (.Z(GND_net));
    
endmodule

//
// Verilog Description of module syncronizer
//

module syncronizer (input col_c_0, output int_osc, input n344, output [3:0]col_sync, 
            output \counter[12] , input col_c_3, input col_c_2, input col_c_1);
    
    (* is_clock=1, lineinfo="@2(17[7],17[14])" *) wire int_osc;
    (* lineinfo="@5(14[13],14[15])" *) wire [3:0]n1;
    wire [12:0]n57;
    
    wire n2, n926, n1506, GND_net, n12, n11, n928, n3, n932, 
        n1515, n6, n5, n934, n13, n4, n7, n8, n9, n10, n1509, 
        n930, n936, n1521, n1512, n1518, n1503, VCC_net;
    
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=13, LSE_RCOL=58, LSE_LLINE=25, LSE_RLINE=25, lineinfo="@5(17[11],26[4])" *) FD1P3XZ col_sync__i0 (.D(n1[0]), 
            .SP(VCC_net), .CK(int_osc), .SR(n344), .Q(col_sync[0]));
    defparam col_sync__i0.REGSET = "RESET";
    defparam col_sync__i0.SRMODE = "CE_OVER_LSR";
    (* syn_instantiated=1, LSE_LINE_FILE_ID=72, LSE_LCOL=13, LSE_RCOL=58, LSE_LLINE=25, LSE_RLINE=25, lineinfo="@2(25[13],25[58])" *) HSOSC_CORE hf_osc (.CLKHFPU(VCC_net), 
            .CLKHFEN(VCC_net), .TRIM9(GND_net), .TRIM8(GND_net), .TRIM7(GND_net), 
            .TRIM6(GND_net), .TRIM5(GND_net), .TRIM4(GND_net), .TRIM3(GND_net), 
            .TRIM2(GND_net), .TRIM1(GND_net), .TRIM0(GND_net), .CLKHF(int_osc));
    defparam hf_osc.CLKHF_DIV = "0b01";
    defparam hf_osc.FABRIC_TRIME = "DISABLE";
    (* syn_use_carry_chain=1, lineinfo="@5(34[20],34[31])" *) FD1P3XZ counter_51_93__i13 (.D(n57[12]), 
            .SP(VCC_net), .CK(int_osc), .SR(n344), .Q(\counter[12] ));
    defparam counter_51_93__i13.REGSET = "RESET";
    defparam counter_51_93__i13.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@5(34[20],34[31])" *) FD1P3XZ counter_51_93__i12 (.D(n57[11]), 
            .SP(VCC_net), .CK(int_osc), .SR(n344), .Q(n2));
    defparam counter_51_93__i12.REGSET = "RESET";
    defparam counter_51_93__i12.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@5(34[20],34[31])" *) FD1P3XZ counter_51_93__i11 (.D(n57[10]), 
            .SP(VCC_net), .CK(int_osc), .SR(n344), .Q(n3));
    defparam counter_51_93__i11.REGSET = "RESET";
    defparam counter_51_93__i11.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@5(34[20],34[31])" *) FA2 counter_51_93_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(n12), .D0(n926), .CI0(n926), .A1(GND_net), 
            .B1(GND_net), .C1(n11), .D1(n1506), .CI1(n1506), .CO0(n1506), 
            .CO1(n928), .S0(n57[1]), .S1(n57[2]));
    defparam counter_51_93_add_4_3.INIT0 = "0xc33c";
    defparam counter_51_93_add_4_3.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@5(34[20],34[31])" *) FD1P3XZ counter_51_93__i1 (.D(n57[0]), 
            .SP(VCC_net), .CK(int_osc), .SR(n344), .Q(n13));
    defparam counter_51_93__i1.REGSET = "RESET";
    defparam counter_51_93__i1.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@5(34[20],34[31])" *) FA2 counter_51_93_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(n6), .D0(n932), .CI0(n932), .A1(GND_net), 
            .B1(GND_net), .C1(n5), .D1(n1515), .CI1(n1515), .CO0(n1515), 
            .CO1(n934), .S0(n57[7]), .S1(n57[8]));
    defparam counter_51_93_add_4_9.INIT0 = "0xc33c";
    defparam counter_51_93_add_4_9.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@5(34[20],34[31])" *) FD1P3XZ counter_51_93__i10 (.D(n57[9]), 
            .SP(VCC_net), .CK(int_osc), .SR(n344), .Q(n4));
    defparam counter_51_93__i10.REGSET = "RESET";
    defparam counter_51_93__i10.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@5(34[20],34[31])" *) FD1P3XZ counter_51_93__i9 (.D(n57[8]), 
            .SP(VCC_net), .CK(int_osc), .SR(n344), .Q(n5));
    defparam counter_51_93__i9.REGSET = "RESET";
    defparam counter_51_93__i9.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@5(34[20],34[31])" *) FD1P3XZ counter_51_93__i8 (.D(n57[7]), 
            .SP(VCC_net), .CK(int_osc), .SR(n344), .Q(n6));
    defparam counter_51_93__i8.REGSET = "RESET";
    defparam counter_51_93__i8.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@5(34[20],34[31])" *) FD1P3XZ counter_51_93__i7 (.D(n57[6]), 
            .SP(VCC_net), .CK(int_osc), .SR(n344), .Q(n7));
    defparam counter_51_93__i7.REGSET = "RESET";
    defparam counter_51_93__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@5(34[20],34[31])" *) FD1P3XZ counter_51_93__i6 (.D(n57[5]), 
            .SP(VCC_net), .CK(int_osc), .SR(n344), .Q(n8));
    defparam counter_51_93__i6.REGSET = "RESET";
    defparam counter_51_93__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@5(34[20],34[31])" *) FD1P3XZ counter_51_93__i5 (.D(n57[4]), 
            .SP(VCC_net), .CK(int_osc), .SR(n344), .Q(n9));
    defparam counter_51_93__i5.REGSET = "RESET";
    defparam counter_51_93__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@5(34[20],34[31])" *) FD1P3XZ counter_51_93__i4 (.D(n57[3]), 
            .SP(VCC_net), .CK(int_osc), .SR(n344), .Q(n10));
    defparam counter_51_93__i4.REGSET = "RESET";
    defparam counter_51_93__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@5(34[20],34[31])" *) FD1P3XZ counter_51_93__i3 (.D(n57[2]), 
            .SP(VCC_net), .CK(int_osc), .SR(n344), .Q(n11));
    defparam counter_51_93__i3.REGSET = "RESET";
    defparam counter_51_93__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@5(34[20],34[31])" *) FD1P3XZ counter_51_93__i2 (.D(n57[1]), 
            .SP(VCC_net), .CK(int_osc), .SR(n344), .Q(n12));
    defparam counter_51_93__i2.REGSET = "RESET";
    defparam counter_51_93__i2.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=13, LSE_RCOL=58, LSE_LLINE=25, LSE_RLINE=25, lineinfo="@5(17[11],26[4])" *) FD1P3XZ col_sync__i3 (.D(n1[3]), 
            .SP(VCC_net), .CK(int_osc), .SR(n344), .Q(col_sync[3]));
    defparam col_sync__i3.REGSET = "RESET";
    defparam col_sync__i3.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=13, LSE_RCOL=58, LSE_LLINE=25, LSE_RLINE=25, lineinfo="@5(17[11],26[4])" *) FD1P3XZ col_sync__i2 (.D(n1[2]), 
            .SP(VCC_net), .CK(int_osc), .SR(n344), .Q(col_sync[2]));
    defparam col_sync__i2.REGSET = "RESET";
    defparam col_sync__i2.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@5(34[20],34[31])" *) FA2 counter_51_93_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(n10), .D0(n928), .CI0(n928), .A1(GND_net), 
            .B1(GND_net), .C1(n9), .D1(n1509), .CI1(n1509), .CO0(n1509), 
            .CO1(n930), .S0(n57[3]), .S1(n57[4]));
    defparam counter_51_93_add_4_5.INIT0 = "0xc33c";
    defparam counter_51_93_add_4_5.INIT1 = "0xc33c";
    (* lineinfo="@5(34[20],34[31])" *) FA2 counter_51_93_add_4_13 (.A0(GND_net), 
            .B0(GND_net), .C0(n2), .D0(n936), .CI0(n936), .A1(GND_net), 
            .B1(GND_net), .C1(\counter[12] ), .D1(n1521), .CI1(n1521), 
            .CO0(n1521), .S0(n57[11]), .S1(n57[12]));
    defparam counter_51_93_add_4_13.INIT0 = "0xc33c";
    defparam counter_51_93_add_4_13.INIT1 = "0xc33c";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=13, LSE_RCOL=58, LSE_LLINE=25, LSE_RLINE=25, lineinfo="@5(17[11],26[4])" *) FD1P3XZ col_sync__i1 (.D(n1[1]), 
            .SP(VCC_net), .CK(int_osc), .SR(n344), .Q(col_sync[1]));
    defparam col_sync__i1.REGSET = "RESET";
    defparam col_sync__i1.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=13, LSE_RCOL=58, LSE_LLINE=25, LSE_RLINE=25, lineinfo="@5(17[11],26[4])" *) FD1P3XZ n1__i3 (.D(col_c_3), 
            .SP(VCC_net), .CK(int_osc), .SR(n344), .Q(n1[3]));
    defparam n1__i3.REGSET = "RESET";
    defparam n1__i3.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=13, LSE_RCOL=58, LSE_LLINE=25, LSE_RLINE=25, lineinfo="@5(17[11],26[4])" *) FD1P3XZ n1__i2 (.D(col_c_2), 
            .SP(VCC_net), .CK(int_osc), .SR(n344), .Q(n1[2]));
    defparam n1__i2.REGSET = "RESET";
    defparam n1__i2.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=13, LSE_RCOL=58, LSE_LLINE=25, LSE_RLINE=25, lineinfo="@5(17[11],26[4])" *) FD1P3XZ n1__i1 (.D(col_c_1), 
            .SP(VCC_net), .CK(int_osc), .SR(n344), .Q(n1[1]));
    defparam n1__i1.REGSET = "RESET";
    defparam n1__i1.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@5(34[20],34[31])" *) FA2 counter_51_93_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(n8), .D0(n930), .CI0(n930), .A1(GND_net), 
            .B1(GND_net), .C1(n7), .D1(n1512), .CI1(n1512), .CO0(n1512), 
            .CO1(n932), .S0(n57[5]), .S1(n57[6]));
    defparam counter_51_93_add_4_7.INIT0 = "0xc33c";
    defparam counter_51_93_add_4_7.INIT1 = "0xc33c";
    (* lineinfo="@5(34[20],34[31])" *) FA2 counter_51_93_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(n4), .D0(n934), .CI0(n934), .A1(GND_net), 
            .B1(GND_net), .C1(n3), .D1(n1518), .CI1(n1518), .CO0(n1518), 
            .CO1(n936), .S0(n57[9]), .S1(n57[10]));
    defparam counter_51_93_add_4_11.INIT0 = "0xc33c";
    defparam counter_51_93_add_4_11.INIT1 = "0xc33c";
    (* lineinfo="@5(34[20],34[31])" *) FA2 counter_51_93_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(n13), .D1(n1503), .CI1(n1503), .CO0(n1503), .CO1(n926), 
            .S1(n57[0]));
    defparam counter_51_93_add_4_1.INIT0 = "0xc33c";
    defparam counter_51_93_add_4_1.INIT1 = "0xc33c";
    VLO i2 (.Z(GND_net));
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=13, LSE_RCOL=58, LSE_LLINE=25, LSE_RLINE=25, lineinfo="@5(17[11],26[4])" *) FD1P3XZ n1__i0 (.D(col_c_0), 
            .SP(VCC_net), .CK(int_osc), .SR(n344), .Q(n1[0]));
    defparam n1__i0.REGSET = "RESET";
    defparam n1__i0.SRMODE = "CE_OVER_LSR";
    VHI i1 (.Z(VCC_net));
    
endmodule

//
// Verilog Description of module seven_seg_decoder
//

module seven_seg_decoder (input [3:0]select, output seg_c_2, output seg_c_1, 
            output seg_c_4, output seg_c_3, output seg_c_0, output seg_c_6, 
            output seg_c_5);
    
    
    (* lut_function="(!(A (B+!(C))+!A (B ((D)+!C)+!B !(C+(D)))))", lineinfo="@4(7[3],25[10])" *) LUT4 seg_c_2_I_0_4_lut (.A(select[1]), 
            .B(select[3]), .C(select[0]), .D(select[2]), .Z(seg_c_2));
    defparam seg_c_2_I_0_4_lut.INIT = "0x3170";
    (* lut_function="(!(A (B+!((D)+!C))+!A !(B (C (D))+!B !(C+!(D)))))", lineinfo="@4(7[3],25[10])" *) LUT4 seg_c_1_I_0_4_lut (.A(select[1]), 
            .B(select[3]), .C(select[2]), .D(select[0]), .Z(seg_c_1));
    defparam seg_c_1_I_0_4_lut.INIT = "0x6302";
    (* lut_function="(A (B (C (D)))+!A (B (D)+!B !((D)+!C)))", lineinfo="@4(7[3],25[10])" *) LUT4 seg_c_4_I_0_4_lut (.A(select[0]), 
            .B(select[3]), .C(select[1]), .D(select[2]), .Z(seg_c_4));
    defparam seg_c_4_I_0_4_lut.INIT = "0xc410";
    (* lut_function="(A (C (D)+!C !(D))+!A !(B (C+!(D))+!B ((D)+!C)))", lineinfo="@4(7[3],25[10])" *) LUT4 seg_c_3_I_0_4_lut (.A(select[0]), 
            .B(select[3]), .C(select[2]), .D(select[1]), .Z(seg_c_3));
    defparam seg_c_3_I_0_4_lut.INIT = "0xa41a";
    (* lut_function="(!(A ((C+!(D))+!B)+!A (B (C+(D))+!B !(C (D)+!C !(D)))))", lineinfo="@4(7[3],25[10])" *) LUT4 select_3__I_0_4_lut (.A(select[1]), 
            .B(select[0]), .C(select[3]), .D(select[2]), .Z(seg_c_0));
    defparam select_3__I_0_4_lut.INIT = "0x1805";
    (* lut_function="(!(A (B ((D)+!C)+!B !(C (D)+!C !(D)))+!A (B+(C+!(D)))))", lineinfo="@4(7[3],25[10])" *) LUT4 seg_c_6_I_0_4_lut (.A(select[0]), 
            .B(select[1]), .C(select[3]), .D(select[2]), .Z(seg_c_6));
    defparam seg_c_6_I_0_4_lut.INIT = "0x2182";
    (* lut_function="(A (B (D)+!B !((D)+!C))+!A (B (C)+!B (C (D))))", lineinfo="@4(7[3],25[10])" *) LUT4 seg_c_5_I_0_4_lut (.A(select[0]), 
            .B(select[3]), .C(select[2]), .D(select[1]), .Z(seg_c_5));
    defparam seg_c_5_I_0_4_lut.INIT = "0xd860";
    
endmodule

//
// Verilog Description of module button_decoder_bounce
//

module button_decoder_bounce (input [3:0]col_sync, input int_osc, input reset_c, 
            output [3:0]select, input \counter[12] , output osc_c_1, input n344, 
            output osc_c_0, output r_sel_c_1, output r_sel_c_0, output r_sel_c_2, 
            output r_sel_c_3);
    
    (* is_clock=1, lineinfo="@2(17[7],17[14])" *) wire int_osc;
    (* lineinfo="@3(15[14],15[29])" *) wire [4:0]count_de_bounce;
    wire [4:0]n25;
    
    wire n908, n16, n320, en;
    (* lineinfo="@3(13[14],13[19])" *) wire [3:0]right;
    
    wire n342;
    (* lineinfo="@3(19[21],19[30])" *) wire [4:0]nextstate;
    
    wire n347, n348;
    (* lineinfo="@3(19[14],19[19])" *) wire [4:0]state;
    
    wire n722;
    wire [3:0]select_3__N_6;
    wire [1:0]osc_c_1_N_71;
    
    wire n1020, n1445;
    (* lineinfo="@3(14[14],14[18])" *) wire [3:0]left;
    
    wire n1304, n100, n98, n15, n121, n97, n1404, n1465, n6, 
        n15_adj_73, n1272, n1407, n14, n18, n20, n326, n1198, 
        n17, n324, n17_adj_74, n1151, n775, n15_adj_75, n738, 
        n14_adj_76, n15_adj_77, n101, n1265, n260, n346, n350, 
        n349, n322, n9, n6_adj_78, n746, n749, n17_adj_79, n15_adj_80, 
        n1247, VCC_net, GND_net;
    
    (* lut_function="(!(A (B (C)+!B !(C))+!A !(C)))", lineinfo="@3(169[23],169[42])" *) LUT4 i814_2_lut_3_lut (.A(count_de_bounce[1]), 
            .B(count_de_bounce[0]), .C(count_de_bounce[2]), .Z(n25[2]));
    defparam i814_2_lut_3_lut.INIT = "0x7878";
    (* lut_function="(A (B (C)))", lineinfo="@3(169[23],169[42])" *) LUT4 i817_2_lut_3_lut (.A(count_de_bounce[1]), 
            .B(count_de_bounce[0]), .C(count_de_bounce[2]), .Z(n908));
    defparam i817_2_lut_3_lut.INIT = "0x8080";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@3(56[12],56[21])" *) LUT4 reduce_or_7_i3_2_lut_3_lut_4_lut (.A(col_sync[0]), 
            .B(col_sync[1]), .C(col_sync[3]), .D(col_sync[2]), .Z(n16));
    defparam reduce_or_7_i3_2_lut_3_lut_4_lut.INIT = "0xfffe";
    (* lut_function="(!(A))", lineinfo="@3(169[23],169[42])" *) LUT4 i805_1_lut (.A(count_de_bounce[0]), 
            .Z(n25[0]));
    defparam i805_1_lut.INIT = "0x5555";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=23, LSE_RCOL=87, LSE_LLINE=21, LSE_RLINE=21, lineinfo="@3(152[12],161[5])" *) FD1P3XZ select_i0 (.D(select_3__N_6[0]), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(select[0]));
    defparam select_i0.REGSET = "RESET";
    defparam select_i0.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B))", lineinfo="@3(45[12],47[29])" *) LUT4 i276_2_lut (.A(reset_c), 
            .B(nextstate[4]), .Z(n347));
    defparam i276_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))", lineinfo="@3(45[12],47[29])" *) LUT4 i277_2_lut (.A(reset_c), 
            .B(nextstate[3]), .Z(n348));
    defparam i277_2_lut.INIT = "0x8888";
    (* lut_function="(A+(B))" *) LUT4 i645_2_lut (.A(state[4]), .B(state[3]), 
            .Z(n722));
    defparam i645_2_lut.INIT = "0xeeee";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=23, LSE_RCOL=87, LSE_LLINE=21, LSE_RLINE=21, lineinfo="@3(174[12],179[5])" *) FD1P3XZ en_c (.D(n1445), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(en));
    defparam en_c.REGSET = "RESET";
    defparam en_c.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A))", lineinfo="@3(154[3],160[6])" *) LUT4 i9_1_lut (.A(\counter[12] ), 
            .Z(osc_c_1_N_71[1]));
    defparam i9_1_lut.INIT = "0x5555";
    (* lut_function="(A+(B+((D)+!C)))", lineinfo="@3(56[12],56[21])" *) LUT4 i2_3_lut_4_lut (.A(col_sync[0]), 
            .B(col_sync[1]), .C(col_sync[3]), .D(col_sync[2]), .Z(n1020));
    defparam i2_3_lut_4_lut.INIT = "0xffef";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=23, LSE_RCOL=87, LSE_LLINE=21, LSE_RLINE=21, lineinfo="@3(142[12],148[5])" *) FD1P3XZ left_i0_i3 (.D(right[3]), 
            .SP(en), .CK(int_osc), .SR(GND_net), .Q(left[3]));
    defparam left_i0_i3.REGSET = "RESET";
    defparam left_i0_i3.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!((B)+!A))", lineinfo="@3(142[12],148[5])" *) LUT4 i271_2_lut (.A(en), 
            .B(state[2]), .Z(n342));
    defparam i271_2_lut.INIT = "0x2222";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=23, LSE_RCOL=87, LSE_LLINE=21, LSE_RLINE=21, lineinfo="@3(142[12],148[5])" *) FD1P3XZ left_i0_i2 (.D(right[2]), 
            .SP(en), .CK(int_osc), .SR(GND_net), .Q(left[2]));
    defparam left_i0_i2.REGSET = "RESET";
    defparam left_i0_i2.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A (B)+!A !(B)))", lineinfo="@3(52[3],88[10])" *) LUT4 i1151_2_lut (.A(n16), 
            .B(state[1]), .Z(n1304));
    defparam i1151_2_lut.INIT = "0x6666";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@3(103[3],137[10])" *) LUT4 i29_3_lut (.A(n100), 
            .B(n98), .C(state[0]), .Z(n15));
    defparam i29_3_lut.INIT = "0xcaca";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=23, LSE_RCOL=87, LSE_LLINE=21, LSE_RLINE=21, lineinfo="@3(142[12],148[5])" *) FD1P3XZ left_i0_i1 (.D(right[1]), 
            .SP(en), .CK(int_osc), .SR(GND_net), .Q(left[1]));
    defparam left_i0_i1.REGSET = "RESET";
    defparam left_i0_i1.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \state[0]_bdd_4_lut  (.A(state[0]), 
            .B(n121), .C(n97), .D(state[1]), .Z(n1404));
    defparam \state[0]_bdd_4_lut .INIT = "0xe4aa";
    (* lut_function="(A+(B))", lineinfo="@3(52[3],88[10])" *) LUT4 i208_rep_41_2_lut (.A(state[2]), 
            .B(state[3]), .Z(n1465));
    defparam i208_rep_41_2_lut.INIT = "0xeeee";
    (* lut_function="(!(A (B (C+!(D))+!B !(C+(D)))+!A (B+!(C))))", lineinfo="@3(51[2],88[10])" *) LUT4 i14_4_lut (.A(n1304), 
            .B(nextstate[0]), .C(n1465), .D(state[0]), .Z(n6));
    defparam i14_4_lut.INIT = "0x3a30";
    (* lut_function="(!(A (B (C (D)+!C !(D))+!B !(C+(D)))+!A !(C (D))))", lineinfo="@3(52[3],88[10])" *) LUT4 mux_9_Mux_1_i15_4_lut (.A(state[2]), 
            .B(n1304), .C(state[3]), .D(state[0]), .Z(n15_adj_73));
    defparam mux_9_Mux_1_i15_4_lut.INIT = "0x7aa0";
    (* lut_function="(!(A (B (C))+!A (B+!(C))))", lineinfo="@3(51[2],88[10])" *) LUT4 i703_3_lut (.A(n15_adj_73), 
            .B(n6), .C(state[4]), .Z(nextstate[0]));
    defparam i703_3_lut.INIT = "0x3a3a";
    (* lut_function="(!(A+(B+((D)+!C))))", lineinfo="@3(56[12],56[21])" *) LUT4 equal_63_i8_3_lut_4_lut (.A(col_sync[2]), 
            .B(col_sync[3]), .C(col_sync[0]), .D(col_sync[1]), .Z(n121));
    defparam equal_63_i8_3_lut_4_lut.INIT = "0x0010";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n1404_bdd_4_lut (.A(n1404), 
            .B(n1272), .C(n100), .D(state[1]), .Z(n1407));
    defparam n1404_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(!(A+!(B (C (D))+!B (C+!(D)))))", lineinfo="@3(103[3],137[10])" *) LUT4 i1_4_lut (.A(n722), 
            .B(n1020), .C(n15), .D(state[1]), .Z(n320));
    defparam i1_4_lut.INIT = "0x5011";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@3(51[2],88[10])" *) LUT4 i39_3_lut (.A(state[0]), 
            .B(state[1]), .C(state[2]), .Z(n14));
    defparam i39_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+(C+(D)))+!A !((C+(D))+!B))", lineinfo="@3(51[2],88[10])" *) LUT4 i40_4_lut (.A(nextstate[1]), 
            .B(n18), .C(state[2]), .D(state[3]), .Z(n20));
    defparam i40_4_lut.INIT = "0xaaac";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=23, LSE_RCOL=87, LSE_LLINE=21, LSE_RLINE=21, lineinfo="@3(142[12],148[5])" *) FD1P3XZ right_i0_i0 (.D(n326), 
            .SP(en), .CK(int_osc), .SR(n342), .Q(right[0]));
    defparam right_i0_i0.REGSET = "RESET";
    defparam right_i0_i0.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=23, LSE_RCOL=87, LSE_LLINE=21, LSE_RLINE=21, lineinfo="@3(142[12],148[5])" *) FD1P3XZ left_i0_i0 (.D(right[0]), 
            .SP(en), .CK(int_osc), .SR(GND_net), .Q(left[0]));
    defparam left_i0_i0.REGSET = "RESET";
    defparam left_i0_i0.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A (B (C)+!B !((D)+!C))+!A (B+!(C (D)))))", lineinfo="@3(51[2],88[10])" *) LUT4 i38_4_lut (.A(n14), 
            .B(n1198), .C(state[3]), .D(state[1]), .Z(n17));
    defparam i38_4_lut.INIT = "0x3a0a";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@3(51[2],88[10])" *) LUT4 i37_3_lut (.A(n17), 
            .B(n20), .C(state[4]), .Z(nextstate[1]));
    defparam i37_3_lut.INIT = "0xcaca";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=23, LSE_RCOL=87, LSE_LLINE=21, LSE_RLINE=21, lineinfo="@3(142[12],148[5])" *) FD1P3XZ right_i0_i1 (.D(n324), 
            .SP(en), .CK(int_osc), .SR(n342), .Q(right[1]));
    defparam right_i0_i1.REGSET = "RESET";
    defparam right_i0_i1.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=23, LSE_RCOL=87, LSE_LLINE=21, LSE_RLINE=21, lineinfo="@3(152[12],161[5])" *) IOL_B osc_i2 (.PADDI(GND_net), 
            .DO1(GND_net), .DO0(osc_c_1_N_71[1]), .CE(VCC_net), .IOLTO(GND_net), 
            .HOLD(GND_net), .INCLK(GND_net), .OUTCLK(int_osc), .PADDO(osc_c_1));
    defparam osc_i2.LATCHIN = "LATCH_REG";
    defparam osc_i2.DDROUT = "NO";
    (* lut_function="(A+!(B))", lineinfo="@3(52[3],88[10])" *) LUT4 i680_2_lut (.A(n16), 
            .B(state[0]), .Z(n17_adj_74));
    defparam i680_2_lut.INIT = "0xbbbb";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut (.A(state[0]), .B(n16), .Z(n1151));
    defparam i1_2_lut.INIT = "0x8888";
    (* lut_function="(A (B+(C+(D)))+!A !((C+(D))+!B))", lineinfo="@3(51[2],88[10])" *) LUT4 i698_4_lut (.A(nextstate[2]), 
            .B(n1151), .C(state[2]), .D(state[3]), .Z(n775));
    defparam i698_4_lut.INIT = "0xaaac";
    (* lut_function="(A (B (C (D)))+!A (B (C (D)+!C !(D))+!B !(C+(D))))", lineinfo="@3(52[3],88[10])" *) LUT4 mux_9_Mux_3_i15_4_lut (.A(state[1]), 
            .B(n17_adj_74), .C(state[3]), .D(state[2]), .Z(n15_adj_75));
    defparam mux_9_Mux_3_i15_4_lut.INIT = "0xc005";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@3(51[2],88[10])" *) LUT4 i699_3_lut (.A(n15_adj_75), 
            .B(n775), .C(state[4]), .Z(nextstate[2]));
    defparam i699_3_lut.INIT = "0xcaca";
    (* lut_function="(A+(B))" *) LUT4 i661_2_lut (.A(col_sync[2]), .B(col_sync[0]), 
            .Z(n738));
    defparam i661_2_lut.INIT = "0xeeee";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=23, LSE_RCOL=87, LSE_LLINE=21, LSE_RLINE=21, lineinfo="@3(45[12],47[29])" *) FD1P3XZ state__i3 (.D(n348), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(state[3]));
    defparam state__i3.REGSET = "RESET";
    defparam state__i3.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A (B (C))+!A (B+!(C))))", lineinfo="@3(52[3],88[10])" *) LUT4 mux_9_Mux_4_i14_3_lut (.A(n16), 
            .B(state[0]), .C(state[2]), .Z(n14_adj_76));
    defparam mux_9_Mux_4_i14_3_lut.INIT = "0x3a3a";
    (* lut_function="(A (B (C+(D))+!B !(C+!(D)))+!A (B+!(C)))", lineinfo="@3(52[3],88[10])" *) LUT4 mux_9_Mux_4_i15_4_lut (.A(state[1]), 
            .B(n14_adj_76), .C(state[3]), .D(state[2]), .Z(n15_adj_77));
    defparam mux_9_Mux_4_i15_4_lut.INIT = "0xcfc5";
    (* lut_function="(!(A (B+(C+(D)))+!A (B+((D)+!C))))" *) LUT4 i2_4_lut (.A(col_sync[0]), 
            .B(col_sync[2]), .C(col_sync[3]), .D(col_sync[1]), .Z(n101));
    defparam i2_4_lut.INIT = "0x0012";
    (* lut_function="(!(A (B)+!A !(B)))", lineinfo="@3(103[3],137[10])" *) LUT4 i1136_2_lut (.A(col_sync[3]), 
            .B(col_sync[1]), .Z(n1265));
    defparam i1136_2_lut.INIT = "0x6666";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=23, LSE_RCOL=87, LSE_LLINE=21, LSE_RLINE=21, lineinfo="@3(45[12],47[29])" *) FD1P3XZ state__i4 (.D(n347), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(state[4]));
    defparam state__i4.REGSET = "RESET";
    defparam state__i4.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B (C+!(D))+!B !(C+(D)))+!A (B (C)))", lineinfo="@3(103[3],137[10])" *) LUT4 i192_4_lut (.A(n1265), 
            .B(n101), .C(state[1]), .D(n738), .Z(n260));
    defparam i192_4_lut.INIT = "0xc0ca";
    (* lineinfo="@3(169[23],169[42])" *) FD1P3XZ count_de_bounce_50__i0 (.D(n25[0]), 
            .SP(VCC_net), .CK(int_osc), .SR(n344), .Q(count_de_bounce[0]));
    defparam count_de_bounce_50__i0.REGSET = "RESET";
    defparam count_de_bounce_50__i0.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=23, LSE_RCOL=87, LSE_LLINE=21, LSE_RLINE=21, lineinfo="@3(45[12],47[29])" *) FD1P3XZ state__i0 (.D(n346), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(state[0]));
    defparam state__i0.REGSET = "RESET";
    defparam state__i0.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=23, LSE_RCOL=87, LSE_LLINE=21, LSE_RLINE=21, lineinfo="@3(45[12],47[29])" *) FD1P3XZ state__i1 (.D(n350), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(state[1]));
    defparam state__i1.REGSET = "RESET";
    defparam state__i1.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=23, LSE_RCOL=87, LSE_LLINE=21, LSE_RLINE=21, lineinfo="@3(45[12],47[29])" *) FD1P3XZ state__i2 (.D(n349), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(state[2]));
    defparam state__i2.REGSET = "RESET";
    defparam state__i2.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=23, LSE_RCOL=87, LSE_LLINE=21, LSE_RLINE=21, lineinfo="@3(152[12],161[5])" *) FD1P3XZ select_i3 (.D(select_3__N_6[3]), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(select[3]));
    defparam select_i3.REGSET = "RESET";
    defparam select_i3.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=23, LSE_RCOL=87, LSE_LLINE=21, LSE_RLINE=21, lineinfo="@3(152[12],161[5])" *) IOL_B osc_i1 (.PADDI(GND_net), 
            .DO1(GND_net), .DO0(\counter[12] ), .CE(VCC_net), .IOLTO(GND_net), 
            .HOLD(GND_net), .INCLK(GND_net), .OUTCLK(int_osc), .PADDO(osc_c_0));
    defparam osc_i1.LATCHIN = "LATCH_REG";
    defparam osc_i1.DDROUT = "NO";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=23, LSE_RCOL=87, LSE_LLINE=21, LSE_RLINE=21, lineinfo="@3(152[12],161[5])" *) FD1P3XZ select_i2 (.D(select_3__N_6[2]), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(select[2]));
    defparam select_i2.REGSET = "RESET";
    defparam select_i2.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=23, LSE_RCOL=87, LSE_LLINE=21, LSE_RLINE=21, lineinfo="@3(152[12],161[5])" *) FD1P3XZ select_i1 (.D(select_3__N_6[1]), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(select[1]));
    defparam select_i1.REGSET = "RESET";
    defparam select_i1.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=23, LSE_RCOL=87, LSE_LLINE=21, LSE_RLINE=21, lineinfo="@3(142[12],148[5])" *) FD1P3XZ right_i0_i2 (.D(n322), 
            .SP(en), .CK(int_osc), .SR(n342), .Q(right[2]));
    defparam right_i0_i2.REGSET = "RESET";
    defparam right_i0_i2.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@3(169[23],169[42])" *) FD1P3XZ count_de_bounce_50__i4 (.D(n25[4]), 
            .SP(VCC_net), .CK(int_osc), .SR(n344), .Q(count_de_bounce[4]));
    defparam count_de_bounce_50__i4.REGSET = "RESET";
    defparam count_de_bounce_50__i4.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B ((D)+!C)+!B !(C))+!A (B (C (D))))", lineinfo="@3(51[2],88[10])" *) LUT4 i697_4_lut (.A(n15_adj_77), 
            .B(nextstate[3]), .C(state[4]), .D(n1465), .Z(nextstate[3]));
    defparam i697_4_lut.INIT = "0xca0a";
    (* lineinfo="@3(169[23],169[42])" *) FD1P3XZ count_de_bounce_50__i3 (.D(n25[3]), 
            .SP(VCC_net), .CK(int_osc), .SR(n344), .Q(count_de_bounce[3]));
    defparam count_de_bounce_50__i3.REGSET = "RESET";
    defparam count_de_bounce_50__i3.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@3(169[23],169[42])" *) FD1P3XZ count_de_bounce_50__i2 (.D(n25[2]), 
            .SP(VCC_net), .CK(int_osc), .SR(n344), .Q(count_de_bounce[2]));
    defparam count_de_bounce_50__i2.REGSET = "RESET";
    defparam count_de_bounce_50__i2.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@3(169[23],169[42])" *) FD1P3XZ count_de_bounce_50__i1 (.D(n25[1]), 
            .SP(VCC_net), .CK(int_osc), .SR(n344), .Q(count_de_bounce[1]));
    defparam count_de_bounce_50__i1.REGSET = "RESET";
    defparam count_de_bounce_50__i1.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B (C))+!A (B (C+(D))+!B !(C+!(D))))", lineinfo="@3(51[2],88[10])" *) LUT4 i22_4_lut (.A(n1465), 
            .B(n9), .C(state[4]), .D(state[1]), .Z(nextstate[4]));
    defparam i22_4_lut.INIT = "0xc5c0";
    (* lut_function="(!(A (B)+!A !(B)))", lineinfo="@3(169[23],169[42])" *) LUT4 i807_2_lut (.A(count_de_bounce[1]), 
            .B(count_de_bounce[0]), .Z(n25[1]));
    defparam i807_2_lut.INIT = "0x6666";
    (* lut_function="(!(A+!(B (C+!(D))+!B (C (D)))))", lineinfo="@3(103[3],137[10])" *) LUT4 i1_4_lut_adj_7 (.A(n722), 
            .B(n97), .C(n260), .D(state[0]), .Z(n326));
    defparam i1_4_lut_adj_7.INIT = "0x5044";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut_adj_8 (.A(count_de_bounce[3]), 
            .B(count_de_bounce[2]), .Z(n6_adj_78));
    defparam i1_2_lut_adj_8.INIT = "0x8888";
    (* lut_function="(A (B (C (D))))" *) LUT4 i4_4_lut (.A(count_de_bounce[0]), 
            .B(count_de_bounce[4]), .C(count_de_bounce[1]), .D(n6_adj_78), 
            .Z(n1445));
    defparam i4_4_lut.INIT = "0x8000";
    (* lut_function="(!(A (B (C))+!A !(B (C))))", lineinfo="@3(169[23],169[42])" *) LUT4 i828_3_lut (.A(count_de_bounce[4]), 
            .B(count_de_bounce[3]), .C(n908), .Z(n25[4]));
    defparam i828_3_lut.INIT = "0x6a6a";
    (* lut_function="(!(A+(B (C+(D))+!B (C (D)+!C !(D)))))" *) LUT4 i1_4_lut_4_lut (.A(col_sync[1]), 
            .B(col_sync[0]), .C(col_sync[2]), .D(col_sync[3]), .Z(n98));
    defparam i1_4_lut_4_lut.INIT = "0x0114";
    (* lut_function="(!((B (C+(D))+!B (D))+!A))", lineinfo="@3(93[11],97[12])" *) LUT4 i658_4_lut_4_lut (.A(state[0]), 
            .B(state[3]), .C(state[2]), .D(n746), .Z(r_sel_c_1));
    defparam i658_4_lut_4_lut.INIT = "0x002a";
    (* lut_function="(!(A+(B (C+(D))+!B (D))))" *) LUT4 i1180_2_lut_3_lut_4_lut (.A(state[0]), 
            .B(state[3]), .C(state[2]), .D(n746), .Z(r_sel_c_0));
    defparam i1180_2_lut_3_lut_4_lut.INIT = "0x0015";
    (* lut_function="(!(A (B (C (D)))+!A !(B (C (D)))))", lineinfo="@3(169[23],169[42])" *) LUT4 i821_2_lut_4_lut (.A(count_de_bounce[3]), 
            .B(count_de_bounce[1]), .C(count_de_bounce[0]), .D(count_de_bounce[2]), 
            .Z(n25[3]));
    defparam i821_2_lut_4_lut.INIT = "0x6aaa";
    (* lut_function="(A (B (C)))" *) LUT4 i1057_2_lut_3_lut (.A(state[2]), 
            .B(state[0]), .C(n16), .Z(n1198));
    defparam i1057_2_lut_3_lut.INIT = "0x8080";
    (* lut_function="(!(A+(B+(C+!(D)))))" *) LUT4 i2_2_lut_3_lut_4_lut (.A(state[0]), 
            .B(n749), .C(state[4]), .D(state[1]), .Z(r_sel_c_2));
    defparam i2_2_lut_3_lut_4_lut.INIT = "0x0100";
    (* lut_function="(A (B))" *) LUT4 i672_2_lut (.A(state[3]), .B(state[2]), 
            .Z(n749));
    defparam i672_2_lut.INIT = "0x8888";
    (* lut_function="(A (B+!(C))+!A (C))", lineinfo="@3(52[3],88[10])" *) LUT4 mux_9_Mux_2_i18_3_lut_3_lut (.A(state[0]), 
            .B(n16), .C(state[1]), .Z(n18));
    defparam mux_9_Mux_2_i18_3_lut_3_lut.INIT = "0xdada";
    (* lut_function="(A+(B))" *) LUT4 i669_2_lut (.A(state[4]), .B(state[1]), 
            .Z(n746));
    defparam i669_2_lut.INIT = "0xeeee";
    (* lut_function="(!(A+(B+!(C))))", lineinfo="@3(103[3],137[10])" *) LUT4 i1_2_lut_3_lut (.A(state[4]), 
            .B(state[3]), .C(n1407), .Z(n324));
    defparam i1_2_lut_3_lut.INIT = "0x1010";
    (* lut_function="(!(A+(B+(C (D)+!C !(D)))))" *) LUT4 i2_3_lut_4_lut_adj_9 (.A(col_sync[3]), 
            .B(col_sync[1]), .C(col_sync[0]), .D(col_sync[2]), .Z(n97));
    defparam i2_3_lut_4_lut_adj_9.INIT = "0x0110";
    (* lut_function="(A (B (C+!(D))+!B !(C+(D)))+!A (B (C)))", lineinfo="@3(103[3],137[10])" *) LUT4 i29_4_lut (.A(n17_adj_79), 
            .B(n98), .C(state[1]), .D(col_sync[3]), .Z(n15_adj_80));
    defparam i29_4_lut.INIT = "0xc0ca";
    (* lut_function="(A (B))", lineinfo="@3(103[3],137[10])" *) LUT4 i1133_2_lut (.A(n101), 
            .B(state[1]), .Z(n1247));
    defparam i1133_2_lut.INIT = "0x8888";
    (* lut_function="(!(A+!(B (C+!(D))+!B (C (D)))))", lineinfo="@3(103[3],137[10])" *) LUT4 i1_4_lut_adj_10 (.A(n722), 
            .B(n1247), .C(n15_adj_80), .D(state[0]), .Z(n322));
    defparam i1_4_lut_adj_10.INIT = "0x5044";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@3(154[3],160[6])" *) LUT4 mux_99_i2_3_lut (.A(left[1]), 
            .B(right[1]), .C(\counter[12] ), .Z(select_3__N_6[1]));
    defparam mux_99_i2_3_lut.INIT = "0xcaca";
    (* lut_function="(!(A (B+(C))+!A (B (C)+!B !(C))))" *) LUT4 i30_4_lut_3_lut (.A(col_sync[1]), 
            .B(col_sync[0]), .C(col_sync[2]), .Z(n17_adj_79));
    defparam i30_4_lut_3_lut.INIT = "0x1616";
    (* lut_function="(!(A+(B (C+(D))+!B (C (D)+!C !(D)))))" *) LUT4 i1_4_lut_adj_11 (.A(col_sync[0]), 
            .B(col_sync[1]), .C(col_sync[3]), .D(col_sync[2]), .Z(n100));
    defparam i1_4_lut_adj_11.INIT = "0x0114";
    (* lut_function="(!(A+(B+(C (D)+!C !(D)))))" *) LUT4 i1138_3_lut_4_lut (.A(col_sync[1]), 
            .B(col_sync[0]), .C(col_sync[3]), .D(col_sync[2]), .Z(n1272));
    defparam i1138_3_lut_4_lut.INIT = "0x0110";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@3(154[3],160[6])" *) LUT4 mux_99_i3_3_lut (.A(left[2]), 
            .B(right[2]), .C(\counter[12] ), .Z(select_3__N_6[2]));
    defparam mux_99_i3_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@3(154[3],160[6])" *) LUT4 mux_99_i4_3_lut (.A(left[3]), 
            .B(right[3]), .C(\counter[12] ), .Z(select_3__N_6[3]));
    defparam mux_99_i4_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B))", lineinfo="@3(45[12],47[29])" *) LUT4 i278_2_lut (.A(reset_c), 
            .B(nextstate[2]), .Z(n349));
    defparam i278_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))", lineinfo="@3(45[12],47[29])" *) LUT4 i279_2_lut (.A(reset_c), 
            .B(nextstate[1]), .Z(n350));
    defparam i279_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))", lineinfo="@3(45[12],47[29])" *) LUT4 i275_2_lut (.A(reset_c), 
            .B(nextstate[0]), .Z(n346));
    defparam i275_2_lut.INIT = "0x8888";
    (* lut_function="(A (B (C+(D)))+!A (B+!(C+(D))))", lineinfo="@3(51[2],88[10])" *) LUT4 i23_4_lut (.A(state[0]), 
            .B(nextstate[4]), .C(state[2]), .D(state[3]), .Z(n9));
    defparam i23_4_lut.INIT = "0xccc5";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@3(154[3],160[6])" *) LUT4 mux_99_i1_3_lut (.A(left[0]), 
            .B(right[0]), .C(\counter[12] ), .Z(select_3__N_6[0]));
    defparam mux_99_i1_3_lut.INIT = "0xcaca";
    (* lut_function="(!((B+(C+!(D)))+!A))" *) LUT4 i2_3_lut_4_lut_adj_12 (.A(state[1]), 
            .B(state[4]), .C(n749), .D(state[0]), .Z(r_sel_c_3));
    defparam i2_3_lut_4_lut_adj_12.INIT = "0x0200";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=23, LSE_RCOL=87, LSE_LLINE=21, LSE_RLINE=21, lineinfo="@3(142[12],148[5])" *) FD1P3XZ right_i0_i3 (.D(n320), 
            .SP(en), .CK(int_osc), .SR(n342), .Q(right[3]));
    defparam right_i0_i3.REGSET = "RESET";
    defparam right_i0_i3.SRMODE = "CE_OVER_LSR";
    VHI i1 (.Z(VCC_net));
    VLO i3 (.Z(GND_net));
    
endmodule
