// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2024.1.1.259.1
// Netlist written on Sun Oct  6 12:02:12 2024
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/lattice radiant/ip/pmi/pmi_ice40up.v"
// file 1 "c:/lattice radiant/ip/pmi/pmi_ice40up.vhd"
// file 2 "c:/users/spenc/onedrive/documents/desktop/hmc/microps/microp-lab3/fpga/radiant_project/lab3_jb/source/impl_1/systemverilog.sv"
// file 3 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 4 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 5 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 6 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 7 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 8 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 9 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 10 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/ib.v"
// file 11 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 12 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 13 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 14 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/ob.v"
// file 15 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 16 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 17 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 18 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/rgb.v"
// file 19 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 20 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 21 "c:/lattice radiant/cae_library/simulation/verilog/ice40up/legacy.v"
// file 22 "c:/lattice radiant/ip/common/adder/rtl/lscc_adder.v"
// file 23 "c:/lattice radiant/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 24 "c:/lattice radiant/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 25 "c:/lattice radiant/ip/common/counter/rtl/lscc_cntr.v"
// file 26 "c:/lattice radiant/ip/common/fifo/rtl/lscc_fifo.v"
// file 27 "c:/lattice radiant/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 28 "c:/lattice radiant/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 29 "c:/lattice radiant/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 30 "c:/lattice radiant/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 31 "c:/lattice radiant/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 32 "c:/lattice radiant/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 33 "c:/lattice radiant/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 34 "c:/lattice radiant/ip/common/rom/rtl/lscc_rom.v"
// file 35 "c:/lattice radiant/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 36 "c:/lattice radiant/ip/pmi/pmi_add.v"
// file 37 "c:/lattice radiant/ip/pmi/pmi_addsub.v"
// file 38 "c:/lattice radiant/ip/pmi/pmi_complex_mult.v"
// file 39 "c:/lattice radiant/ip/pmi/pmi_counter.v"
// file 40 "c:/lattice radiant/ip/pmi/pmi_dsp.v"
// file 41 "c:/lattice radiant/ip/pmi/pmi_fifo.v"
// file 42 "c:/lattice radiant/ip/pmi/pmi_fifo_dc.v"
// file 43 "c:/lattice radiant/ip/pmi/pmi_mac.v"
// file 44 "c:/lattice radiant/ip/pmi/pmi_mult.v"
// file 45 "c:/lattice radiant/ip/pmi/pmi_multaddsub.v"
// file 46 "c:/lattice radiant/ip/pmi/pmi_multaddsubsum.v"
// file 47 "c:/lattice radiant/ip/pmi/pmi_ram_dp.v"
// file 48 "c:/lattice radiant/ip/pmi/pmi_ram_dp_be.v"
// file 49 "c:/lattice radiant/ip/pmi/pmi_ram_dq.v"
// file 50 "c:/lattice radiant/ip/pmi/pmi_ram_dq_be.v"
// file 51 "c:/lattice radiant/ip/pmi/pmi_rom.v"
// file 52 "c:/lattice radiant/ip/pmi/pmi_sub.v"

//
// Verilog Description of module top
//

module top (input reset, input [3:0]col_sync, output [3:0]rows, output [6:0]seg, 
            output [1:0]power);
    
    (* is_clock=1, lineinfo="@2(23[57],23[64])" *) wire int_osc;
    
    wire GND_net, reset_c, col_sync_c_3, col_sync_c_2, col_sync_c_1, 
        col_sync_c_0, rows_c_3, rows_c_2, rows_c_1, rows_c_0, seg_c_6, 
        seg_c_5, seg_c_4, seg_c_3, seg_c_2, seg_c_1, seg_c_0, power_c_1, 
        power_c_0, n371;
    (* lineinfo="@2(15[14],15[19])" *) wire [6:0]right;
    
    wire n370, n373;
    (* lineinfo="@2(16[14],16[18])" *) wire [6:0]left;
    (* lineinfo="@2(17[15],17[22])" *) wire [24:0]counter;
    (* lineinfo="@2(18[14],18[20])" *) wire [6:0]select;
    
    wire n5, n4, n109;
    wire [6:0]select_6__N_10;
    
    wire n372, n3, n2013, VCC_net, n2019, n30, n29, n28, n27, 
        n26, n1029, n2, n1027, n2016;
    
    VHI i2 (.Z(VCC_net));
    (* syn_instantiated=1 *) LSOSC_CORE lf_osc (.CLKLFPU(VCC_net), .CLKLFEN(VCC_net), 
            .TRIM9(GND_net), .TRIM8(GND_net), .TRIM7(GND_net), .TRIM6(GND_net), 
            .TRIM5(GND_net), .TRIM4(GND_net), .TRIM3(GND_net), .TRIM2(GND_net), 
            .TRIM1(GND_net), .TRIM0(GND_net), .CLKLF(int_osc));
    defparam lf_osc.FABRIC_TRIME = "DISABLE";
    (* lineinfo="@2(36[12],50[5])" *) FD1P3XZ select_i3 (.D(n370), .SP(VCC_net), 
            .CK(int_osc), .SR(select_6__N_10[5]), .Q(select[3]));
    defparam select_i3.REGSET = "SET";
    defparam select_i3.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@2(8[20],8[28])" *) IB \col_sync_pad[0]  (.I(col_sync[0]), 
            .O(col_sync_c_0));
    (* lineinfo="@2(36[12],50[5])" *) FD1P3XZ select_i2 (.D(n371), .SP(VCC_net), 
            .CK(int_osc), .SR(select_6__N_10[5]), .Q(select[2]));
    defparam select_i2.REGSET = "SET";
    defparam select_i2.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@2(36[12],50[5])" *) FD1P3XZ select_i1 (.D(n372), .SP(VCC_net), 
            .CK(int_osc), .SR(select_6__N_10[5]), .Q(select[1]));
    defparam select_i1.REGSET = "SET";
    defparam select_i1.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@2(8[20],8[28])" *) IB \col_sync_pad[1]  (.I(col_sync[1]), 
            .O(col_sync_c_1));
    (* lineinfo="@2(8[20],8[28])" *) IB \col_sync_pad[2]  (.I(col_sync[2]), 
            .O(col_sync_c_2));
    (* lineinfo="@2(8[20],8[28])" *) IB \col_sync_pad[3]  (.I(col_sync[3]), 
            .O(col_sync_c_3));
    (* lineinfo="@2(7[14],7[19])" *) IB reset_pad (.I(reset), .O(reset_c));
    (* lineinfo="@2(11[21],11[26])" *) OB \power_pad[0]  (.I(power_c_0), .O(power[0]));
    (* lineinfo="@2(11[21],11[26])" *) OB \power_pad[1]  (.I(power_c_1), .O(power[1]));
    (* lineinfo="@2(10[21],10[24])" *) OB \seg_pad[0]  (.I(seg_c_0), .O(seg[0]));
    (* lineinfo="@2(10[21],10[24])" *) OB \seg_pad[1]  (.I(seg_c_1), .O(seg[1]));
    (* lineinfo="@2(10[21],10[24])" *) OB \seg_pad[2]  (.I(seg_c_2), .O(seg[2]));
    (* lineinfo="@2(10[21],10[24])" *) OB \seg_pad[3]  (.I(seg_c_3), .O(seg[3]));
    (* syn_use_carry_chain=1, lineinfo="@2(31[15],31[30])" *) FD1P3XZ counter_115_125__i1 (.D(n30), 
            .SP(VCC_net), .CK(int_osc), .SR(select_6__N_10[5]), .Q(n5));
    defparam counter_115_125__i1.REGSET = "RESET";
    defparam counter_115_125__i1.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@2(9[21],9[25])" *) OB \rows_pad[1]  (.I(rows_c_1), .O(rows[1]));
    (* syn_use_carry_chain=1, lineinfo="@2(31[15],31[30])" *) FD1P3XZ counter_115_125__i5 (.D(n26), 
            .SP(VCC_net), .CK(int_osc), .SR(select_6__N_10[5]), .Q(counter[4]));
    defparam counter_115_125__i5.REGSET = "RESET";
    defparam counter_115_125__i5.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@2(9[21],9[25])" *) OB \rows_pad[2]  (.I(rows_c_2), .O(rows[2]));
    (* syn_use_carry_chain=1, lineinfo="@2(31[15],31[30])" *) FD1P3XZ counter_115_125__i4 (.D(n27), 
            .SP(VCC_net), .CK(int_osc), .SR(select_6__N_10[5]), .Q(n2));
    defparam counter_115_125__i4.REGSET = "RESET";
    defparam counter_115_125__i4.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@2(10[21],10[24])" *) OB \seg_pad[4]  (.I(seg_c_4), .O(seg[4]));
    (* syn_use_carry_chain=1, lineinfo="@2(31[15],31[30])" *) FD1P3XZ counter_115_125__i3 (.D(n28), 
            .SP(VCC_net), .CK(int_osc), .SR(select_6__N_10[5]), .Q(n3));
    defparam counter_115_125__i3.REGSET = "RESET";
    defparam counter_115_125__i3.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@2(9[21],9[25])" *) OB \rows_pad[3]  (.I(rows_c_3), .O(rows[3]));
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@2(46[9],49[6])" *) LUT4 mux_126_i1_3_lut (.A(right[0]), 
            .B(left[0]), .C(counter[4]), .Z(n373));
    defparam mux_126_i1_3_lut.INIT = "0xcaca";
    (* syn_use_carry_chain=1, lineinfo="@2(31[15],31[30])" *) FD1P3XZ counter_115_125__i2 (.D(n29), 
            .SP(VCC_net), .CK(int_osc), .SR(select_6__N_10[5]), .Q(n4));
    defparam counter_115_125__i2.REGSET = "RESET";
    defparam counter_115_125__i2.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@2(36[12],50[5])" *) FD1P3XZ select_i0 (.D(n373), .SP(VCC_net), 
            .CK(int_osc), .SR(select_6__N_10[5]), .Q(select[0]));
    defparam select_i0.REGSET = "SET";
    defparam select_i0.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@2(10[21],10[24])" *) OB \seg_pad[5]  (.I(seg_c_5), .O(seg[5]));
    (* lineinfo="@2(10[21],10[24])" *) OB \seg_pad[6]  (.I(seg_c_6), .O(seg[6]));
    (* lineinfo="@2(36[12],50[5])" *) FD1P3XZ power__i2 (.D(counter[4]), .SP(VCC_net), 
            .CK(int_osc), .SR(select_6__N_10[5]), .Q(power_c_1));
    defparam power__i2.REGSET = "RESET";
    defparam power__i2.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@2(36[12],50[5])" *) FD1P3XZ select_i5 (.D(select_6__N_10[5]), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(select[6]));
    defparam select_i5.REGSET = "RESET";
    defparam select_i5.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@2(46[9],49[6])" *) LUT4 mux_126_i2_3_lut (.A(right[1]), 
            .B(left[1]), .C(counter[4]), .Z(n372));
    defparam mux_126_i2_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@2(46[9],49[6])" *) LUT4 mux_126_i3_3_lut (.A(right[2]), 
            .B(left[2]), .C(counter[4]), .Z(n371));
    defparam mux_126_i3_3_lut.INIT = "0xcaca";
    (* lut_function="(!(A))", lineinfo="@2(38[3],49[6])" *) LUT4 i232_1_lut (.A(reset_c), 
            .Z(select_6__N_10[5]));
    defparam i232_1_lut.INIT = "0x5555";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@2(46[9],49[6])" *) LUT4 mux_126_i4_3_lut (.A(right[3]), 
            .B(left[3]), .C(counter[4]), .Z(n370));
    defparam mux_126_i4_3_lut.INIT = "0xcaca";
    (* lineinfo="@2(36[12],50[5])" *) FD1P3XZ power__i1 (.D(n109), .SP(VCC_net), 
            .CK(int_osc), .SR(select_6__N_10[5]), .Q(power_c_0));
    defparam power__i1.REGSET = "RESET";
    defparam power__i1.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@2(55[20],55[38])" *) seven_seg_decoder segs (select[1], 
            select[2], select[6], select[0], select[3], seg_c_6, seg_c_4, 
            seg_c_3, seg_c_2, seg_c_5, seg_c_0, seg_c_1);
    (* lineinfo="@2(9[21],9[25])" *) OB \rows_pad[0]  (.I(rows_c_0), .O(rows[0]));
    (* lineinfo="@2(31[15],31[30])" *) FA2 counter_115_125_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(n2), .D0(n1029), .CI0(n1029), .A1(GND_net), 
            .B1(GND_net), .C1(counter[4]), .D1(n2019), .CI1(n2019), 
            .CO0(n2019), .S0(n27), .S1(n26));
    defparam counter_115_125_add_4_5.INIT0 = "0xc33c";
    defparam counter_115_125_add_4_5.INIT1 = "0xc33c";
    (* lineinfo="@2(31[15],31[30])" *) FA2 counter_115_125_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(n4), .D0(n1027), .CI0(n1027), .A1(GND_net), 
            .B1(GND_net), .C1(n3), .D1(n2016), .CI1(n2016), .CO0(n2016), 
            .CO1(n1029), .S0(n29), .S1(n28));
    defparam counter_115_125_add_4_3.INIT0 = "0xc33c";
    defparam counter_115_125_add_4_3.INIT1 = "0xc33c";
    (* lineinfo="@2(31[15],31[30])" *) FA2 counter_115_125_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(n5), .D1(n2013), .CI1(n2013), .CO0(n2013), .CO1(n1027), 
            .S1(n30));
    defparam counter_115_125_add_4_1.INIT0 = "0xc33c";
    defparam counter_115_125_add_4_1.INIT1 = "0xc33c";
    (* lut_function="(!(A))", lineinfo="@2(46[9],49[6])" *) LUT4 i46_1_lut (.A(counter[4]), 
            .Z(n109));
    defparam i46_1_lut.INIT = "0x5555";
    (* lineinfo="@2(54[24],54[73])" *) button_decoder_bounce fsm (int_osc, 
            col_sync_c_2, col_sync_c_3, rows_c_0, rows_c_1, rows_c_2, 
            rows_c_3, reset_c, col_sync_c_0, col_sync_c_1, right[3], 
            left[3], right[2], left[2], right[1], left[1], right[0], 
            left[0]);
    VLO i1 (.Z(GND_net));
    
endmodule

//
// Verilog Description of module seven_seg_decoder
//

module seven_seg_decoder (input \select[1] , input \select[2] , input \select[6] , 
            input \select[0] , input \select[3] , output seg_c_6, output seg_c_4, 
            output seg_c_3, output seg_c_2, output seg_c_5, output seg_c_0, 
            output seg_c_1);
    
    
    wire n828, n22, n34, n12, n12_adj_107, n1528, n830, n8, 
        n28, n1498, n16, n14, n8_adj_108, n1421, n19, n15, n1408, 
        n1410, n6, n9, n20, n25;
    
    (* lut_function="(A (B))" *) LUT4 i546_2_lut (.A(\select[1] ), .B(\select[2] ), 
            .Z(n828));
    defparam i546_2_lut.INIT = "0x8888";
    (* lut_function="(!(A (B+!(C))+!A (B (C+!(D))+!B !(C+(D)))))" *) LUT4 i40_4_lut (.A(\select[6] ), 
            .B(n22), .C(\select[0] ), .D(n828), .Z(n34));
    defparam i40_4_lut.INIT = "0x3530";
    (* lut_function="(A+(B))", lineinfo="@2(295[4],295[11])" *) LUT4 i1_2_lut (.A(\select[3] ), 
            .B(\select[6] ), .Z(n12));
    defparam i1_2_lut.INIT = "0xeeee";
    (* lut_function="((B)+!A)", lineinfo="@2(305[4],305[11])" *) LUT4 i1_2_lut_adj_7 (.A(\select[3] ), 
            .B(\select[6] ), .Z(n12_adj_107));
    defparam i1_2_lut_adj_7.INIT = "0xdddd";
    (* lut_function="(!(A (B+!(C+!(D)))))" *) LUT4 i1_4_lut (.A(n1528), .B(n12), 
            .C(n830), .D(n8), .Z(seg_c_6));
    defparam i1_4_lut.INIT = "0x7577";
    (* lut_function="(A+(B (C)+!B !(C)))" *) LUT4 i1093_3_lut (.A(\select[1] ), 
            .B(\select[2] ), .C(\select[0] ), .Z(n28));
    defparam i1093_3_lut.INIT = "0xebeb";
    (* lut_function="(!((B (C+!(D)))+!A))" *) LUT4 i1_4_lut_adj_8 (.A(\select[0] ), 
            .B(n1498), .C(n12), .D(n16), .Z(n14));
    defparam i1_4_lut_adj_8.INIT = "0x2a22";
    (* lut_function="(A (B (C+(D))+!B (C)))" *) LUT4 i1_4_lut_adj_9 (.A(n8), 
            .B(n8_adj_108), .C(n12), .D(n1421), .Z(n19));
    defparam i1_4_lut_adj_9.INIT = "0xa8a0";
    (* lut_function="(A+!(B (C)+!B (C+(D))))" *) LUT4 i1265_4_lut (.A(\select[6] ), 
            .B(\select[0] ), .C(n19), .D(n15), .Z(seg_c_4));
    defparam i1265_4_lut.INIT = "0xaeaf";
    (* lut_function="(A+(B))", lineinfo="@2(296[4],296[11])" *) LUT4 equal_4_i8_2_lut (.A(\select[1] ), 
            .B(\select[2] ), .Z(n8));
    defparam equal_4_i8_2_lut.INIT = "0xeeee";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 i1202_3_lut (.A(n1408), 
            .B(n8), .C(\select[0] ), .Z(n1410));
    defparam i1202_3_lut.INIT = "0xcaca";
    (* lut_function="(A+(B+!(C)))" *) LUT4 i1267_3_lut (.A(\select[6] ), .B(n830), 
            .C(n1410), .Z(seg_c_3));
    defparam i1267_3_lut.INIT = "0xefef";
    (* lut_function="((B)+!A)", lineinfo="@2(297[4],297[11])" *) LUT4 equal_5_i8_2_lut (.A(\select[1] ), 
            .B(\select[2] ), .Z(n8_adj_108));
    defparam equal_5_i8_2_lut.INIT = "0xdddd";
    (* lut_function="(A+(B+((D)+!C)))" *) LUT4 i1099_2_lut_3_lut_4_lut (.A(\select[0] ), 
            .B(\select[1] ), .C(\select[2] ), .D(n12_adj_107), .Z(n1528));
    defparam i1099_2_lut_3_lut_4_lut.INIT = "0xffef";
    (* lut_function="(!(A (B (C))+!A (B)))" *) LUT4 i1_2_lut_4_lut_3_lut (.A(\select[1] ), 
            .B(\select[2] ), .C(\select[0] ), .Z(n1421));
    defparam i1_2_lut_4_lut_3_lut.INIT = "0x3b3b";
    (* lut_function="(A+(B+!(C+(D))))" *) LUT4 i3_4_lut_4_lut (.A(\select[6] ), 
            .B(n6), .C(n9), .D(\select[3] ), .Z(seg_c_2));
    defparam i3_4_lut_4_lut.INIT = "0xeeef";
    (* lut_function="(!(A ((D)+!B)+!A ((C+(D))+!B)))" *) LUT4 i2_4_lut_4_lut (.A(\select[1] ), 
            .B(\select[2] ), .C(\select[0] ), .D(n12_adj_107), .Z(n6));
    defparam i2_4_lut_4_lut.INIT = "0x008c";
    (* lut_function="(A+((C)+!B))", lineinfo="@2(297[4],297[11])" *) LUT4 equal_5_i9_2_lut_3_lut (.A(\select[0] ), 
            .B(\select[1] ), .C(\select[2] ), .Z(n9));
    defparam equal_5_i9_2_lut_3_lut.INIT = "0xfbfb";
    (* lut_function="(A (B+((D)+!C))+!A (B+(C+!(D))))" *) LUT4 i1_4_lut_4_lut (.A(\select[3] ), 
            .B(\select[6] ), .C(\select[1] ), .D(\select[2] ), .Z(n1408));
    defparam i1_4_lut_4_lut.INIT = "0xfedf";
    (* lut_function="(A (B (C)))" *) LUT4 i548_2_lut_3_lut (.A(\select[0] ), 
            .B(\select[1] ), .C(\select[2] ), .Z(n830));
    defparam i548_2_lut_3_lut.INIT = "0x8080";
    (* lut_function="(A+(B+(C)))" *) LUT4 i1_2_lut_3_lut (.A(\select[3] ), 
            .B(\select[6] ), .C(n1421), .Z(n15));
    defparam i1_2_lut_3_lut.INIT = "0xfefe";
    (* lut_function="(A+(B (C)+!B (C+!(D))))" *) LUT4 i1_4_lut_4_lut_adj_10 (.A(\select[6] ), 
            .B(\select[3] ), .C(n14), .D(n8_adj_108), .Z(seg_c_5));
    defparam i1_4_lut_4_lut_adj_10.INIT = "0xfafb";
    (* lut_function="(A+(B (C)+!B (C+!(D))))" *) LUT4 i1_4_lut_4_lut_adj_11 (.A(\select[6] ), 
            .B(\select[3] ), .C(n20), .D(n28), .Z(seg_c_0));
    defparam i1_4_lut_4_lut_adj_11.INIT = "0xfafb";
    (* lut_function="(!(A (B+((D)+!C))+!A (((D)+!C)+!B)))" *) LUT4 i2_4_lut_4_lut_adj_12 (.A(\select[1] ), 
            .B(\select[2] ), .C(\select[0] ), .D(n12_adj_107), .Z(n20));
    defparam i2_4_lut_4_lut_adj_12.INIT = "0x0060";
    (* lut_function="(A (B)+!A !(B))" *) LUT4 i1_2_lut_2_lut (.A(\select[1] ), 
            .B(\select[2] ), .Z(n16));
    defparam i1_2_lut_2_lut.INIT = "0x9999";
    (* lut_function="(A+(((D)+!C)+!B))" *) LUT4 i1073_2_lut_4_lut (.A(\select[1] ), 
            .B(\select[2] ), .C(\select[3] ), .D(\select[6] ), .Z(n1498));
    defparam i1073_2_lut_4_lut.INIT = "0xffbf";
    (* lut_function="(A+(B (C+(D))+!B (C)))" *) LUT4 i1_4_lut_4_lut_adj_13 (.A(\select[6] ), 
            .B(\select[3] ), .C(n34), .D(n25), .Z(seg_c_1));
    defparam i1_4_lut_4_lut_adj_13.INIT = "0xfefa";
    (* lut_function="(A (B)+!A !(B+!(C)))" *) LUT4 i1_4_lut_3_lut (.A(\select[0] ), 
            .B(\select[1] ), .C(\select[2] ), .Z(n25));
    defparam i1_4_lut_3_lut.INIT = "0x9898";
    (* lut_function="(A+(B+(C+!(D))))" *) LUT4 i1_2_lut_4_lut (.A(\select[3] ), 
            .B(\select[6] ), .C(\select[1] ), .D(\select[2] ), .Z(n22));
    defparam i1_2_lut_4_lut.INIT = "0xfeff";
    
endmodule

//
// Verilog Description of module button_decoder_bounce
//

module button_decoder_bounce (input int_osc, input col_sync_c_2, input col_sync_c_3, 
            output rows_c_0, output rows_c_1, output rows_c_2, output rows_c_3, 
            input reset_c, input col_sync_c_0, input col_sync_c_1, output \right[3] , 
            output \left[3] , output \right[2] , output \left[2] , output \right[1] , 
            output \left[1] , output \right[0] , output \left[0] );
    
    (* is_clock=1, lineinfo="@2(23[57],23[64])" *) wire int_osc;
    
    wire n860, n518;
    (* lineinfo="@2(73[14],73[19])" *) wire [4:0]state;
    
    wire n542, n886;
    wire [4:0]state_4__N_58;
    
    wire n892, n253;
    wire [3:0]n303;
    (* lineinfo="@2(74[14],74[20])" *) wire [6:0]button;
    
    wire n794;
    wire [9:0]n45;
    (* lineinfo="@2(112[14],112[18])" *) wire [9:0]dbON;
    
    wire n595, n898, GND_net;
    wire [3:0]n17;
    
    wire n1412, n594, n748, n523;
    wire [3:0]n294;
    
    wire n7, n14, n22, n1041, n2037;
    (* lineinfo="@2(113[15],113[20])" *) wire [12:0]dbOFF;
    
    wire n1043;
    wire [12:0]n57;
    
    wire n7_adj_99, n10, n14_adj_100, n894, n587;
    (* lineinfo="@2(73[21],73[30])" *) wire [4:0]nextstate;
    
    wire n1039, n2034, n1616, n15, nextstate_0__N_56, nextstate_0__N_57, 
        n513, n22_adj_101, n15_adj_102, nextstate_1__N_54, n1414, 
        n15_adj_103, n800, n1037, n2031, n15_adj_104, n1055, n2055, 
        n1053, n2052, n1035, n2028, n1033, n2025, n1051, n2049, 
        n2022, n1049, n2046, n1047, n2043, n1998, n599, nextstate_3__N_50, 
        n598, n597, n596, n2040, n16, n22_adj_105, n20, n24, 
        n4, n1211, n1621, n7_adj_106, n509, n1611, n896, n738, 
        VCC_net;
    
    (* lut_function="(A (B ((D)+!C)+!B !(C))+!A (B (C (D))))" *) LUT4 mux_83_i1_4_lut (.A(n860), 
            .B(n518), .C(state[1]), .D(n542), .Z(n886));
    defparam mux_83_i1_4_lut.INIT = "0xca0a";
    (* syn_use_carry_chain=1, lineinfo="@2(213[21],213[29])" *) FD1P3XZ dbON_119__i0 (.D(n45[0]), 
            .SP(VCC_net), .CK(int_osc), .SR(n595), .Q(dbON[0]));
    defparam dbON_119__i0.REGSET = "RESET";
    defparam dbON_119__i0.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B (D))+!A (B (C)))" *) LUT4 i348_4_lut_4_lut (.A(n892), 
            .B(n253), .C(n303[3]), .D(button[3]), .Z(button[3]));
    defparam i348_4_lut_4_lut.INIT = "0xc840";
    (* lut_function="(A (B))" *) LUT4 i513_2_lut (.A(col_sync_c_2), .B(col_sync_c_3), 
            .Z(n794));
    defparam i513_2_lut.INIT = "0x8888";
    (* ECO_MEM_TYPE="EBR", ECO_MEM_ID="\\fsm/mux_257", ECO_MEM_SIZE="[4, 32]", ECO_MEM_BLOCK_SIZE="[4, 1024]", ECO_MEM_BLOCK_POS="[0, 0]" *) EBR_B state_4__I_0 (.RADDR10(GND_net), 
            .RADDR9(GND_net), .RADDR8(GND_net), .RADDR7(GND_net), .RADDR6(GND_net), 
            .RADDR5(GND_net), .RADDR4(state_4__N_58[4]), .RADDR3(state_4__N_58[3]), 
            .RADDR2(state_4__N_58[2]), .RADDR1(state_4__N_58[1]), .RADDR0(state_4__N_58[0]), 
            .WADDR10(GND_net), .WADDR9(GND_net), .WADDR8(GND_net), .WADDR7(GND_net), 
            .WADDR6(GND_net), .WADDR5(GND_net), .WADDR4(GND_net), .WADDR3(GND_net), 
            .WADDR2(GND_net), .WADDR1(GND_net), .WADDR0(GND_net), .MASK_N15(GND_net), 
            .MASK_N14(GND_net), .MASK_N13(GND_net), .MASK_N12(GND_net), 
            .MASK_N11(GND_net), .MASK_N10(GND_net), .MASK_N9(GND_net), 
            .MASK_N8(GND_net), .MASK_N7(GND_net), .MASK_N6(GND_net), .MASK_N5(GND_net), 
            .MASK_N4(GND_net), .MASK_N3(GND_net), .MASK_N2(GND_net), .MASK_N1(GND_net), 
            .MASK_N0(GND_net), .WDATA15(GND_net), .WDATA14(GND_net), .WDATA13(GND_net), 
            .WDATA12(GND_net), .WDATA11(GND_net), .WDATA10(GND_net), .WDATA9(GND_net), 
            .WDATA8(GND_net), .WDATA7(GND_net), .WDATA6(GND_net), .WDATA5(GND_net), 
            .WDATA4(GND_net), .WDATA3(GND_net), .WDATA2(GND_net), .WDATA1(GND_net), 
            .WDATA0(GND_net), .RCLKE(VCC_net), .RCLK(int_osc), .RE(VCC_net), 
            .WCLKE(VCC_net), .WCLK(GND_net), .WE(GND_net), .RDATA13(rows_c_3), 
            .RDATA9(rows_c_2), .RDATA5(rows_c_1), .RDATA1(rows_c_0));
    defparam state_4__I_0.INIT_0 = "0x1101110111101110011110111101111001111011110111100111101111011110";
    defparam state_4__I_0.INIT_1 = "0x1111111111111111111111111111111101111011110111100111011110111011";
    defparam state_4__I_0.INIT_2 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam state_4__I_0.INIT_3 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam state_4__I_0.INIT_4 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam state_4__I_0.INIT_5 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam state_4__I_0.INIT_6 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam state_4__I_0.INIT_7 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam state_4__I_0.INIT_8 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam state_4__I_0.INIT_9 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam state_4__I_0.INIT_A = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam state_4__I_0.INIT_B = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam state_4__I_0.INIT_C = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam state_4__I_0.INIT_D = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam state_4__I_0.INIT_E = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam state_4__I_0.INIT_F = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam state_4__I_0.DATA_WIDTH_W = "4";
    defparam state_4__I_0.DATA_WIDTH_R = "4";
    (* lut_function="(A (B (D))+!A !((C)+!B))" *) LUT4 i346_4_lut_4_lut (.A(n892), 
            .B(n253), .C(n898), .D(button[2]), .Z(button[2]));
    defparam i346_4_lut_4_lut.INIT = "0x8c04";
    (* lut_function="(A (B (D))+!A (B (C)))" *) LUT4 i344_4_lut_4_lut (.A(n892), 
            .B(n253), .C(n303[1]), .D(button[1]), .Z(button[1]));
    defparam i344_4_lut_4_lut.INIT = "0xc840";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=24, LSE_RCOL=73, LSE_LLINE=54, LSE_RLINE=54, lineinfo="@2(104[12],108[23])" *) FD1P3XZ state_i4 (.D(state_4__N_58[4]), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(state[4]));
    defparam state_i4.REGSET = "RESET";
    defparam state_i4.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!((B)+!A))" *) LUT4 i1_2_lut (.A(n17[3]), .B(state[2]), 
            .Z(n1412));
    defparam i1_2_lut.INIT = "0x2222";
    (* lut_function="(((C+!(D))+!B)+!A)", lineinfo="@2(207[5],222[8])" *) LUT4 i1257_4_lut (.A(reset_c), 
            .B(state[3]), .C(state[4]), .D(n1412), .Z(n594));
    defparam i1257_4_lut.INIT = "0xf7ff";
    (* lut_function="(A (B (D))+!A !((C)+!B))" *) LUT4 i340_4_lut_4_lut (.A(n892), 
            .B(n253), .C(n886), .D(button[0]), .Z(button[0]));
    defparam i340_4_lut_4_lut.INIT = "0x8c04";
    (* lut_function="(A (B (C (D))+!B ((D)+!C))+!A ((D)+!C))" *) LUT4 mux_81_i4_3_lut_4_lut (.A(n542), 
            .B(n748), .C(state[0]), .D(n523), .Z(n294[3]));
    defparam mux_81_i4_3_lut_4_lut.INIT = "0xf707";
    (* lut_function="(A (B (C)))" *) LUT4 i602_2_lut_3_lut (.A(n542), .B(n748), 
            .C(n7), .Z(n892));
    defparam i602_2_lut_3_lut.INIT = "0x8080";
    (* lut_function="(!(A (B (C))+!A !(C)))" *) LUT4 Mux_103_i14_3_lut_3_lut (.A(state[0]), 
            .B(state[1]), .C(state[2]), .Z(n14));
    defparam Mux_103_i14_3_lut_3_lut.INIT = "0x7a7a";
    (* lut_function="(A ((C)+!B)+!A !(C))" *) LUT4 Mux_103_i22_3_lut_3_lut (.A(state[0]), 
            .B(state[1]), .C(state[2]), .Z(n22));
    defparam Mux_103_i22_3_lut_3_lut.INIT = "0xa7a7";
    (* lut_function="((((D)+!C)+!B)+!A)" *) LUT4 i2_3_lut_4_lut (.A(col_sync_c_0), 
            .B(col_sync_c_1), .C(col_sync_c_3), .D(col_sync_c_2), .Z(n542));
    defparam i2_3_lut_4_lut.INIT = "0xff7f";
    (* lineinfo="@2(216[22],216[31])" *) FA2 dbOFF_117_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(dbOFF[9]), .D0(n1041), .CI0(n1041), .A1(GND_net), 
            .B1(GND_net), .C1(dbOFF[10]), .D1(n2037), .CI1(n2037), .CO0(n2037), 
            .CO1(n1043), .S0(n57[9]), .S1(n57[10]));
    defparam dbOFF_117_add_4_11.INIT0 = "0xc33c";
    defparam dbOFF_117_add_4_11.INIT1 = "0xc33c";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=24, LSE_RCOL=73, LSE_LLINE=54, LSE_RLINE=54, lineinfo="@2(104[12],108[23])" *) FD1P3XZ state_i3 (.D(state_4__N_58[3]), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(state[3]));
    defparam state_i3.REGSET = "RESET";
    defparam state_i3.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=24, LSE_RCOL=73, LSE_LLINE=54, LSE_RLINE=54, lineinfo="@2(104[12],108[23])" *) FD1P3XZ state_i2 (.D(state_4__N_58[2]), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(state[2]));
    defparam state_i2.REGSET = "RESET";
    defparam state_i2.SRMODE = "CE_OVER_LSR";
    (* lut_function="(((C+!(D))+!B)+!A)" *) LUT4 i2_3_lut_4_lut_adj_4 (.A(col_sync_c_0), 
            .B(col_sync_c_1), .C(col_sync_c_3), .D(col_sync_c_2), .Z(n7_adj_99));
    defparam i2_3_lut_4_lut_adj_4.INIT = "0xf7ff";
    (* lut_function="(A (B))" *) LUT4 i2_2_lut (.A(dbON[1]), .B(dbON[6]), 
            .Z(n10));
    defparam i2_2_lut.INIT = "0x8888";
    (* lut_function="(A (B (C (D))))" *) LUT4 i6_4_lut (.A(dbON[4]), .B(dbON[0]), 
            .C(dbON[3]), .D(dbON[2]), .Z(n14_adj_100));
    defparam i6_4_lut.INIT = "0x8000";
    (* lut_function="(A (B (C (D))))" *) LUT4 i7_4_lut (.A(dbON[7]), .B(n14_adj_100), 
            .C(n10), .D(dbON[5]), .Z(n894));
    defparam i7_4_lut.INIT = "0x8000";
    (* lut_function="(!(A+((C)+!B)))", lineinfo="@2(228[7],228[26])" *) LUT4 i1263_3_lut (.A(dbON[9]), 
            .B(n894), .C(dbON[8]), .Z(n587));
    defparam i1263_3_lut.INIT = "0x0404";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=24, LSE_RCOL=73, LSE_LLINE=54, LSE_RLINE=54, lineinfo="@2(104[12],108[23])" *) FD1P3XZ state_i1 (.D(state_4__N_58[1]), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(state[1]));
    defparam state_i1.REGSET = "RESET";
    defparam state_i1.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=24, LSE_RCOL=73, LSE_LLINE=54, LSE_RLINE=54, lineinfo="@2(227[12],232[5])" *) FD1P3XZ left__i4 (.D(\right[3] ), 
            .SP(n587), .CK(int_osc), .SR(GND_net), .Q(\left[3] ));
    defparam left__i4.REGSET = "RESET";
    defparam left__i4.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=24, LSE_RCOL=73, LSE_LLINE=54, LSE_RLINE=54, lineinfo="@2(227[12],232[5])" *) FD1P3XZ left__i3 (.D(\right[2] ), 
            .SP(n587), .CK(int_osc), .SR(GND_net), .Q(\left[2] ));
    defparam left__i3.REGSET = "RESET";
    defparam left__i3.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=24, LSE_RCOL=73, LSE_LLINE=54, LSE_RLINE=54, lineinfo="@2(227[12],232[5])" *) FD1P3XZ left__i2 (.D(\right[1] ), 
            .SP(n587), .CK(int_osc), .SR(GND_net), .Q(\left[1] ));
    defparam left__i2.REGSET = "RESET";
    defparam left__i2.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(216[22],216[31])" *) FD1P3XZ dbOFF_117__i0 (.D(n57[0]), 
            .SP(VCC_net), .CK(int_osc), .SR(n594), .Q(dbOFF[0]));
    defparam dbOFF_117__i0.REGSET = "RESET";
    defparam dbOFF_117__i0.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(216[22],216[31])" *) FD1P3XZ dbOFF_117__i1 (.D(n57[1]), 
            .SP(VCC_net), .CK(int_osc), .SR(n594), .Q(dbOFF[1]));
    defparam dbOFF_117__i1.REGSET = "RESET";
    defparam dbOFF_117__i1.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B))", lineinfo="@2(105[3],108[23])" *) LUT4 i556_2_lut (.A(nextstate[4]), 
            .B(reset_c), .Z(state_4__N_58[4]));
    defparam i556_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))", lineinfo="@2(105[3],108[23])" *) LUT4 i557_2_lut (.A(nextstate[3]), 
            .B(reset_c), .Z(state_4__N_58[3]));
    defparam i557_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))", lineinfo="@2(105[3],108[23])" *) LUT4 i558_2_lut (.A(nextstate[2]), 
            .B(reset_c), .Z(state_4__N_58[2]));
    defparam i558_2_lut.INIT = "0x8888";
    (* lineinfo="@2(216[22],216[31])" *) FA2 dbOFF_117_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(dbOFF[7]), .D0(n1039), .CI0(n1039), .A1(GND_net), 
            .B1(GND_net), .C1(dbOFF[8]), .D1(n2034), .CI1(n2034), .CO0(n2034), 
            .CO1(n1041), .S0(n57[7]), .S1(n57[8]));
    defparam dbOFF_117_add_4_9.INIT0 = "0xc33c";
    defparam dbOFF_117_add_4_9.INIT1 = "0xc33c";
    (* lut_function="(A (B))", lineinfo="@2(105[3],108[23])" *) LUT4 i559_2_lut (.A(nextstate[1]), 
            .B(reset_c), .Z(state_4__N_58[1]));
    defparam i559_2_lut.INIT = "0x8888";
    (* lut_function="(!((B+(C))+!A))" *) LUT4 i1_3_lut (.A(state[2]), .B(state[3]), 
            .C(state[4]), .Z(n253));
    defparam i1_3_lut.INIT = "0x0202";
    (* lut_function="(!(A (B)))", lineinfo="@2(207[5],222[8])" *) LUT4 i1260_2_lut (.A(n253), 
            .B(reset_c), .Z(n595));
    defparam i1260_2_lut.INIT = "0x7777";
    (* lut_function="((B)+!A)", lineinfo="@2(118[3],201[10])" *) LUT4 i1177_2_lut (.A(n17[3]), 
            .B(state[2]), .Z(n1616));
    defparam i1177_2_lut.INIT = "0xdddd";
    (* lut_function="(A (B (C+(D))+!B !(C+!(D)))+!A (B (C)))", lineinfo="@2(118[3],201[10])" *) LUT4 Mux_103_i15_4_lut (.A(n1616), 
            .B(n14), .C(state[3]), .D(state[0]), .Z(n15));
    defparam Mux_103_i15_4_lut.INIT = "0xcac0";
    (* lut_function="(!(A (B (C (D))+!B (C))+!A (((D)+!C)+!B)))", lineinfo="@2(118[3],201[10])" *) LUT4 Mux_103_i31_4_lut (.A(n15), 
            .B(n22), .C(state[4]), .D(state[3]), .Z(nextstate_0__N_56));
    defparam Mux_103_i31_4_lut.INIT = "0x0aca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@2(117[2],202[5])" *) LUT4 i342_3_lut (.A(nextstate[0]), 
            .B(nextstate_0__N_56), .C(nextstate_0__N_57), .Z(nextstate[0]));
    defparam i342_3_lut.INIT = "0xcaca";
    (* lut_function="(A+(B))", lineinfo="@2(118[3],201[10])" *) LUT4 i254_2_lut (.A(state[2]), 
            .B(state[3]), .Z(n513));
    defparam i254_2_lut.INIT = "0xeeee";
    (* lut_function="(A ((C)+!B)+!A !((C)+!B))", lineinfo="@2(118[3],201[10])" *) LUT4 i1198_3_lut (.A(state[1]), 
            .B(state[0]), .C(state[2]), .Z(n22_adj_101));
    defparam i1198_3_lut.INIT = "0xa6a6";
    (* lut_function="(A (B+((D)+!C))+!A !(((D)+!C)+!B))", lineinfo="@2(118[3],201[10])" *) LUT4 i1077_4_lut (.A(state[1]), 
            .B(state[0]), .C(n17[3]), .D(n513), .Z(n15_adj_102));
    defparam i1077_4_lut.INIT = "0xaaca";
    (* lut_function="(!(A (B (C (D))+!B (C))+!A (((D)+!C)+!B)))", lineinfo="@2(118[3],201[10])" *) LUT4 Mux_88_i31_4_lut (.A(n15_adj_102), 
            .B(n22_adj_101), .C(state[4]), .D(state[3]), .Z(nextstate_1__N_54));
    defparam Mux_88_i31_4_lut.INIT = "0x0aca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@2(117[2],202[5])" *) LUT4 i350_3_lut (.A(nextstate[1]), 
            .B(nextstate_1__N_54), .C(nextstate_0__N_57), .Z(nextstate[1]));
    defparam i350_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B))", lineinfo="@2(105[3],108[23])" *) LUT4 i443_2_lut (.A(nextstate[0]), 
            .B(reset_c), .Z(state_4__N_58[0]));
    defparam i443_2_lut.INIT = "0x8888";
    (* lut_function="(!(A (B+!(C (D)))+!A (B (C)+!B !((D)+!C))))", lineinfo="@2(118[3],201[10])" *) LUT4 Mux_73_i15_4_lut (.A(n1414), 
            .B(state[0]), .C(state[3]), .D(state[2]), .Z(n15_adj_103));
    defparam Mux_73_i15_4_lut.INIT = "0x3505";
    (* lut_function="(!(A (B (C (D))+!B (C))+!A (((D)+!C)+!B)))", lineinfo="@2(117[2],202[5])" *) LUT4 i352_4_lut (.A(nextstate[2]), 
            .B(n15_adj_103), .C(nextstate_0__N_57), .D(state[4]), .Z(nextstate[2]));
    defparam i352_4_lut.INIT = "0x0aca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@2(118[3],201[10])" *) LUT4 Mux_58_i14_3_lut (.A(n17[3]), 
            .B(state[0]), .C(state[2]), .Z(n800));
    defparam Mux_58_i14_3_lut.INIT = "0xcaca";
    (* syn_use_carry_chain=1, lineinfo="@2(216[22],216[31])" *) FD1P3XZ dbOFF_117__i2 (.D(n57[2]), 
            .SP(VCC_net), .CK(int_osc), .SR(n594), .Q(dbOFF[2]));
    defparam dbOFF_117__i2.REGSET = "RESET";
    defparam dbOFF_117__i2.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@2(216[22],216[31])" *) FA2 dbOFF_117_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(dbOFF[5]), .D0(n1037), .CI0(n1037), .A1(GND_net), 
            .B1(GND_net), .C1(dbOFF[6]), .D1(n2031), .CI1(n2031), .CO0(n2031), 
            .CO1(n1039), .S0(n57[5]), .S1(n57[6]));
    defparam dbOFF_117_add_4_7.INIT0 = "0xc33c";
    defparam dbOFF_117_add_4_7.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@2(216[22],216[31])" *) FD1P3XZ dbOFF_117__i3 (.D(n57[3]), 
            .SP(VCC_net), .CK(int_osc), .SR(n594), .Q(dbOFF[3]));
    defparam dbOFF_117__i3.REGSET = "RESET";
    defparam dbOFF_117__i3.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A (B+!(C))+!A (B (C+!(D))+!B !(C+(D)))))", lineinfo="@2(118[3],201[10])" *) LUT4 Mux_58_i15_4_lut (.A(state[1]), 
            .B(n800), .C(state[3]), .D(n1412), .Z(n15_adj_104));
    defparam Mux_58_i15_4_lut.INIT = "0x3530";
    (* syn_use_carry_chain=1, lineinfo="@2(216[22],216[31])" *) FD1P3XZ dbOFF_117__i4 (.D(n57[4]), 
            .SP(VCC_net), .CK(int_osc), .SR(n594), .Q(dbOFF[4]));
    defparam dbOFF_117__i4.REGSET = "RESET";
    defparam dbOFF_117__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(216[22],216[31])" *) FD1P3XZ dbOFF_117__i5 (.D(n57[5]), 
            .SP(VCC_net), .CK(int_osc), .SR(n594), .Q(dbOFF[5]));
    defparam dbOFF_117__i5.REGSET = "RESET";
    defparam dbOFF_117__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(216[22],216[31])" *) FD1P3XZ dbOFF_117__i6 (.D(n57[6]), 
            .SP(VCC_net), .CK(int_osc), .SR(n594), .Q(dbOFF[6]));
    defparam dbOFF_117__i6.REGSET = "RESET";
    defparam dbOFF_117__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(216[22],216[31])" *) FD1P3XZ dbOFF_117__i7 (.D(n57[7]), 
            .SP(VCC_net), .CK(int_osc), .SR(n594), .Q(dbOFF[7]));
    defparam dbOFF_117__i7.REGSET = "RESET";
    defparam dbOFF_117__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(216[22],216[31])" *) FD1P3XZ dbOFF_117__i8 (.D(n57[8]), 
            .SP(VCC_net), .CK(int_osc), .SR(n594), .Q(dbOFF[8]));
    defparam dbOFF_117__i8.REGSET = "RESET";
    defparam dbOFF_117__i8.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(216[22],216[31])" *) FD1P3XZ dbOFF_117__i9 (.D(n57[9]), 
            .SP(VCC_net), .CK(int_osc), .SR(n594), .Q(dbOFF[9]));
    defparam dbOFF_117__i9.REGSET = "RESET";
    defparam dbOFF_117__i9.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(216[22],216[31])" *) FD1P3XZ dbOFF_117__i10 (.D(n57[10]), 
            .SP(VCC_net), .CK(int_osc), .SR(n594), .Q(dbOFF[10]));
    defparam dbOFF_117__i10.REGSET = "RESET";
    defparam dbOFF_117__i10.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(216[22],216[31])" *) FD1P3XZ dbOFF_117__i11 (.D(n57[11]), 
            .SP(VCC_net), .CK(int_osc), .SR(n594), .Q(dbOFF[11]));
    defparam dbOFF_117__i11.REGSET = "RESET";
    defparam dbOFF_117__i11.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(216[22],216[31])" *) FD1P3XZ dbOFF_117__i12 (.D(n57[12]), 
            .SP(VCC_net), .CK(int_osc), .SR(n594), .Q(dbOFF[12]));
    defparam dbOFF_117__i12.REGSET = "RESET";
    defparam dbOFF_117__i12.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(213[21],213[29])" *) FD1P3XZ dbON_119__i1 (.D(n45[1]), 
            .SP(VCC_net), .CK(int_osc), .SR(n595), .Q(dbON[1]));
    defparam dbON_119__i1.REGSET = "RESET";
    defparam dbON_119__i1.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(213[21],213[29])" *) FD1P3XZ dbON_119__i2 (.D(n45[2]), 
            .SP(VCC_net), .CK(int_osc), .SR(n595), .Q(dbON[2]));
    defparam dbON_119__i2.REGSET = "RESET";
    defparam dbON_119__i2.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(213[21],213[29])" *) FD1P3XZ dbON_119__i3 (.D(n45[3]), 
            .SP(VCC_net), .CK(int_osc), .SR(n595), .Q(dbON[3]));
    defparam dbON_119__i3.REGSET = "RESET";
    defparam dbON_119__i3.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@2(213[21],213[29])" *) FA2 dbON_119_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(dbON[9]), .D0(n1055), .CI0(n1055), .A1(GND_net), 
            .B1(GND_net), .C1(GND_net), .D1(n2055), .CI1(n2055), .CO0(n2055), 
            .S0(n45[9]));
    defparam dbON_119_add_4_11.INIT0 = "0xc33c";
    defparam dbON_119_add_4_11.INIT1 = "0xc33c";
    (* lineinfo="@2(213[21],213[29])" *) FA2 dbON_119_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(dbON[7]), .D0(n1053), .CI0(n1053), .A1(GND_net), 
            .B1(GND_net), .C1(dbON[8]), .D1(n2052), .CI1(n2052), .CO0(n2052), 
            .CO1(n1055), .S0(n45[7]), .S1(n45[8]));
    defparam dbON_119_add_4_9.INIT0 = "0xc33c";
    defparam dbON_119_add_4_9.INIT1 = "0xc33c";
    (* lineinfo="@2(216[22],216[31])" *) FA2 dbOFF_117_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(dbOFF[3]), .D0(n1035), .CI0(n1035), .A1(GND_net), 
            .B1(GND_net), .C1(dbOFF[4]), .D1(n2028), .CI1(n2028), .CO0(n2028), 
            .CO1(n1037), .S0(n57[3]), .S1(n57[4]));
    defparam dbOFF_117_add_4_5.INIT0 = "0xc33c";
    defparam dbOFF_117_add_4_5.INIT1 = "0xc33c";
    (* lineinfo="@2(216[22],216[31])" *) FA2 dbOFF_117_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(dbOFF[1]), .D0(n1033), .CI0(n1033), .A1(GND_net), 
            .B1(GND_net), .C1(dbOFF[2]), .D1(n2025), .CI1(n2025), .CO0(n2025), 
            .CO1(n1035), .S0(n57[1]), .S1(n57[2]));
    defparam dbOFF_117_add_4_3.INIT0 = "0xc33c";
    defparam dbOFF_117_add_4_3.INIT1 = "0xc33c";
    (* lineinfo="@2(213[21],213[29])" *) FA2 dbON_119_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(dbON[5]), .D0(n1051), .CI0(n1051), .A1(GND_net), 
            .B1(GND_net), .C1(dbON[6]), .D1(n2049), .CI1(n2049), .CO0(n2049), 
            .CO1(n1053), .S0(n45[5]), .S1(n45[6]));
    defparam dbON_119_add_4_7.INIT0 = "0xc33c";
    defparam dbON_119_add_4_7.INIT1 = "0xc33c";
    (* lineinfo="@2(216[22],216[31])" *) FA2 dbOFF_117_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(dbOFF[0]), .D1(n2022), .CI1(n2022), .CO0(n2022), .CO1(n1033), 
            .S1(n57[0]));
    defparam dbOFF_117_add_4_1.INIT0 = "0xc33c";
    defparam dbOFF_117_add_4_1.INIT1 = "0xc33c";
    (* lineinfo="@2(213[21],213[29])" *) FA2 dbON_119_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(dbON[3]), .D0(n1049), .CI0(n1049), .A1(GND_net), 
            .B1(GND_net), .C1(dbON[4]), .D1(n2046), .CI1(n2046), .CO0(n2046), 
            .CO1(n1051), .S0(n45[3]), .S1(n45[4]));
    defparam dbON_119_add_4_5.INIT0 = "0xc33c";
    defparam dbON_119_add_4_5.INIT1 = "0xc33c";
    (* lineinfo="@2(213[21],213[29])" *) FA2 dbON_119_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(dbON[1]), .D0(n1047), .CI0(n1047), .A1(GND_net), 
            .B1(GND_net), .C1(dbON[2]), .D1(n2043), .CI1(n2043), .CO0(n2043), 
            .CO1(n1049), .S0(n45[1]), .S1(n45[2]));
    defparam dbON_119_add_4_3.INIT0 = "0xc33c";
    defparam dbON_119_add_4_3.INIT1 = "0xc33c";
    (* lineinfo="@2(213[21],213[29])" *) FA2 dbON_119_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(dbON[0]), .D1(n1998), .CI1(n1998), .CO0(n1998), .CO1(n1047), 
            .S1(n45[0]));
    defparam dbON_119_add_4_1.INIT0 = "0xc33c";
    defparam dbON_119_add_4_1.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@2(213[21],213[29])" *) FD1P3XZ dbON_119__i4 (.D(n45[4]), 
            .SP(VCC_net), .CK(int_osc), .SR(n595), .Q(dbON[4]));
    defparam dbON_119__i4.REGSET = "RESET";
    defparam dbON_119__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(213[21],213[29])" *) FD1P3XZ dbON_119__i5 (.D(n45[5]), 
            .SP(VCC_net), .CK(int_osc), .SR(n595), .Q(dbON[5]));
    defparam dbON_119__i5.REGSET = "RESET";
    defparam dbON_119__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(213[21],213[29])" *) FD1P3XZ dbON_119__i6 (.D(n45[6]), 
            .SP(VCC_net), .CK(int_osc), .SR(n595), .Q(dbON[6]));
    defparam dbON_119__i6.REGSET = "RESET";
    defparam dbON_119__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(213[21],213[29])" *) FD1P3XZ dbON_119__i7 (.D(n45[7]), 
            .SP(VCC_net), .CK(int_osc), .SR(n595), .Q(dbON[7]));
    defparam dbON_119__i7.REGSET = "RESET";
    defparam dbON_119__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(213[21],213[29])" *) FD1P3XZ dbON_119__i8 (.D(n45[8]), 
            .SP(VCC_net), .CK(int_osc), .SR(n595), .Q(dbON[8]));
    defparam dbON_119__i8.REGSET = "RESET";
    defparam dbON_119__i8.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(213[21],213[29])" *) FD1P3XZ dbON_119__i9 (.D(n45[9]), 
            .SP(VCC_net), .CK(int_osc), .SR(n595), .Q(dbON[9]));
    defparam dbON_119__i9.REGSET = "RESET";
    defparam dbON_119__i9.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=24, LSE_RCOL=73, LSE_LLINE=54, LSE_RLINE=54, lineinfo="@2(227[12],232[5])" *) FD1P3XZ right__i4 (.D(n599), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(\right[3] ));
    defparam right__i4.REGSET = "RESET";
    defparam right__i4.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=24, LSE_RCOL=73, LSE_LLINE=54, LSE_RLINE=54, lineinfo="@2(227[12],232[5])" *) FD1P3XZ right__i3 (.D(n598), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(\right[2] ));
    defparam right__i3.REGSET = "RESET";
    defparam right__i3.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A (B (C)+!B !((D)+!C))+!A (B+!(C (D)))))", lineinfo="@2(118[3],201[10])" *) LUT4 Mux_58_i31_4_lut (.A(n15_adj_104), 
            .B(state[3]), .C(state[4]), .D(state[2]), .Z(nextstate_3__N_50));
    defparam Mux_58_i31_4_lut.INIT = "0x3a0a";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=24, LSE_RCOL=73, LSE_LLINE=54, LSE_RLINE=54, lineinfo="@2(227[12],232[5])" *) FD1P3XZ right__i2 (.D(n597), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(\right[1] ));
    defparam right__i2.REGSET = "RESET";
    defparam right__i2.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=24, LSE_RCOL=73, LSE_LLINE=54, LSE_RLINE=54, lineinfo="@2(227[12],232[5])" *) FD1P3XZ right__i1 (.D(n596), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(\right[0] ));
    defparam right__i1.REGSET = "RESET";
    defparam right__i1.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=24, LSE_RCOL=73, LSE_LLINE=54, LSE_RLINE=54, lineinfo="@2(227[12],232[5])" *) FD1P3XZ left__i1 (.D(\right[0] ), 
            .SP(n587), .CK(int_osc), .SR(GND_net), .Q(\left[0] ));
    defparam left__i1.REGSET = "RESET";
    defparam left__i1.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@2(216[22],216[31])" *) FA2 dbOFF_117_add_4_13 (.A0(GND_net), 
            .B0(GND_net), .C0(dbOFF[11]), .D0(n1043), .CI0(n1043), .A1(GND_net), 
            .B1(GND_net), .C1(dbOFF[12]), .D1(n2040), .CI1(n2040), .CO0(n2040), 
            .S0(n57[11]), .S1(n57[12]));
    defparam dbOFF_117_add_4_13.INIT0 = "0xc33c";
    defparam dbOFF_117_add_4_13.INIT1 = "0xc33c";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@2(117[2],202[5])" *) LUT4 i354_3_lut (.A(nextstate[3]), 
            .B(nextstate_3__N_50), .C(nextstate_0__N_57), .Z(nextstate[3]));
    defparam i354_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B))" *) LUT4 i3_2_lut (.A(dbOFF[4]), .B(dbOFF[9]), 
            .Z(n16));
    defparam i3_2_lut.INIT = "0x8888";
    (* lut_function="(A (B (C (D))))" *) LUT4 i9_4_lut (.A(dbOFF[1]), .B(dbOFF[11]), 
            .C(dbOFF[0]), .D(dbOFF[2]), .Z(n22_adj_105));
    defparam i9_4_lut.INIT = "0x8000";
    (* lut_function="(A (B (C)))" *) LUT4 i7_3_lut (.A(dbOFF[10]), .B(dbOFF[8]), 
            .C(dbOFF[3]), .Z(n20));
    defparam i7_3_lut.INIT = "0x8080";
    (* lut_function="(A (B (C (D))))" *) LUT4 i11_4_lut (.A(dbOFF[12]), .B(n22_adj_105), 
            .C(n16), .D(dbOFF[5]), .Z(n24));
    defparam i11_4_lut.INIT = "0x8000";
    (* lut_function="(A+(B))", lineinfo="@2(215[38],215[49])" *) LUT4 i1_2_lut_adj_5 (.A(state[4]), 
            .B(state[2]), .Z(n4));
    defparam i1_2_lut_adj_5.INIT = "0xeeee";
    (* lut_function="(A (B (C (D))))" *) LUT4 i12_4_lut (.A(dbOFF[7]), .B(n24), 
            .C(n20), .D(dbOFF[6]), .Z(n1211));
    defparam i12_4_lut.INIT = "0x8000";
    (* lut_function="(((C+(D))+!B)+!A)" *) LUT4 i1_4_lut (.A(n17[3]), .B(state[3]), 
            .C(n1211), .D(n4), .Z(nextstate_0__N_57));
    defparam i1_4_lut.INIT = "0xfff7";
    (* lut_function="((((D)+!C)+!B)+!A)", lineinfo="@2(240[17],240[24])" *) LUT4 i2_3_lut_4_lut_adj_6 (.A(col_sync_c_2), 
            .B(col_sync_c_3), .C(col_sync_c_1), .D(col_sync_c_0), .Z(n7));
    defparam i2_3_lut_4_lut_adj_6.INIT = "0xff7f";
    (* lut_function="(A (B (C)))", lineinfo="@2(118[3],201[10])" *) LUT4 i1193_3_lut (.A(n894), 
            .B(dbON[9]), .C(dbON[8]), .Z(n1621));
    defparam i1193_3_lut.INIT = "0x8080";
    (* lut_function="(A (B (C+(D))+!B !(C+!(D)))+!A (B (C)))", lineinfo="@2(118[3],201[10])" *) LUT4 Mux_43_i7_4_lut (.A(n17[3]), 
            .B(n1621), .C(state[2]), .D(state[1]), .Z(n7_adj_106));
    defparam Mux_43_i7_4_lut.INIT = "0xcac0";
    (* lut_function="(!(A (B (C)+!B (C (D)))+!A (B+((D)+!C))))", lineinfo="@2(118[3],201[10])" *) LUT4 i250_4_lut (.A(n7_adj_106), 
            .B(state[0]), .C(state[4]), .D(state[2]), .Z(n509));
    defparam i250_4_lut.INIT = "0x0a3a";
    (* lut_function="(!(A (B (C (D))+!B (C))+!A (((D)+!C)+!B)))", lineinfo="@2(117[2],202[5])" *) LUT4 i356_4_lut (.A(nextstate[4]), 
            .B(n509), .C(nextstate_0__N_57), .D(state[3]), .Z(nextstate[4]));
    defparam i356_4_lut.INIT = "0x0aca";
    (* lut_function="(!((B (C (D)+!C !(D))+!B !(C (D)))+!A))" *) LUT4 i1_4_lut_4_lut (.A(col_sync_c_1), 
            .B(col_sync_c_2), .C(col_sync_c_3), .D(col_sync_c_0), .Z(n523));
    defparam i1_4_lut_4_lut.INIT = "0x2880";
    (* lut_function="(!(((C)+!B)+!A))" *) LUT4 i1_2_lut_3_lut (.A(state[1]), 
            .B(n17[3]), .C(state[2]), .Z(n1414));
    defparam i1_2_lut_3_lut.INIT = "0x0808";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@2(227[12],232[5])" *) LUT4 i333_3_lut (.A(\right[0] ), 
            .B(button[0]), .C(n587), .Z(n596));
    defparam i333_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@2(227[12],232[5])" *) LUT4 i334_3_lut (.A(\right[1] ), 
            .B(button[1]), .C(n587), .Z(n597));
    defparam i334_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@2(227[12],232[5])" *) LUT4 i335_3_lut (.A(\right[2] ), 
            .B(button[2]), .C(n587), .Z(n598));
    defparam i335_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@2(227[12],232[5])" *) LUT4 i336_3_lut (.A(\right[3] ), 
            .B(button[3]), .C(n587), .Z(n599));
    defparam i336_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B (C))+!A (B+!(C)))" *) LUT4 mux_83_i4_3_lut (.A(n7_adj_99), 
            .B(n294[3]), .C(state[1]), .Z(n303[3]));
    defparam mux_83_i4_3_lut.INIT = "0xc5c5";
    (* lut_function="(A+(B))" *) LUT4 i1183_2_lut (.A(n7), .B(state[0]), 
            .Z(n1611));
    defparam i1183_2_lut.INIT = "0xeeee";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 mux_82_i3_3_lut (.A(n7_adj_99), 
            .B(n892), .C(state[0]), .Z(n896));
    defparam mux_82_i3_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B ((D)+!C)+!B !(C))+!A (B (C (D))))" *) LUT4 mux_83_i3_4_lut (.A(n896), 
            .B(n1611), .C(state[1]), .D(n7_adj_99), .Z(n898));
    defparam mux_83_i3_4_lut.INIT = "0xca0a";
    (* lut_function="(A (B (C+!(D))+!B !(C+(D)))+!A (B+!(C)))" *) LUT4 mux_81_i2_4_lut (.A(n7_adj_99), 
            .B(n523), .C(state[0]), .D(n7), .Z(n294[1]));
    defparam mux_81_i2_4_lut.INIT = "0xc5cf";
    (* lut_function="(A (B (C+!(D))+!B !(C+(D)))+!A (B+!(C)))" *) LUT4 mux_83_i2_4_lut (.A(n738), 
            .B(n294[1]), .C(state[1]), .D(n542), .Z(n303[1]));
    defparam mux_83_i2_4_lut.INIT = "0xc5cf";
    (* lut_function="(A (B (C (D))))" *) LUT4 i515_2_lut_3_lut_4_lut (.A(col_sync_c_0), 
            .B(col_sync_c_1), .C(col_sync_c_2), .D(col_sync_c_3), .Z(n17[3]));
    defparam i515_2_lut_3_lut_4_lut.INIT = "0x8000";
    (* lut_function="(A (B (D)+!B !(C+!(D)))+!A (D))" *) LUT4 i467_2_lut_4_lut (.A(n794), 
            .B(col_sync_c_1), .C(col_sync_c_0), .D(n7_adj_99), .Z(n748));
    defparam i467_2_lut_4_lut.INIT = "0xdf00";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 mux_81_i1_3_lut (.A(n7), 
            .B(n7_adj_99), .C(state[0]), .Z(n518));
    defparam mux_81_i1_3_lut.INIT = "0xcaca";
    (* lut_function="((B+((D)+!C))+!A)" *) LUT4 i457_2_lut_4_lut (.A(n794), 
            .B(col_sync_c_1), .C(col_sync_c_0), .D(state[0]), .Z(n738));
    defparam i457_2_lut_4_lut.INIT = "0xffdf";
    (* lut_function="(A (B (C+(D))+!B !(C+!(D)))+!A (B (C)))" *) LUT4 mux_82_i1_4_lut (.A(n542), 
            .B(n748), .C(state[0]), .D(n7), .Z(n860));
    defparam mux_82_i1_4_lut.INIT = "0xcac0";
    VLO i2 (.Z(GND_net));
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=24, LSE_RCOL=73, LSE_LLINE=54, LSE_RLINE=54, lineinfo="@2(104[12],108[23])" *) FD1P3XZ state_i0 (.D(state_4__N_58[0]), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(state[0]));
    defparam state_i0.REGSET = "RESET";
    defparam state_i0.SRMODE = "CE_OVER_LSR";
    VHI i1 (.Z(VCC_net));
    
endmodule
